<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <title>CUCKOO - esg - 환경</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
         
    </head>
        

    <body>

        <!-- header -->
        <%- include('/layout/header.html') %>
        <!-- header -->

        <main id="container" class="container">

            <!-- sub-tab -->
            <%- include('/layout/sub-tab.html', { showTab: 'esg-environment' }) %>
            <!-- sub-tab -->

            <div class="esg-envi sub-page">

                <div class="tab-area envi-tab-area">
                    <ul class="tab-track envi-tab">
                        <li class="tab-item on"><a href="/esg/envi-mgmt.html">환경경영</a></li>
                        <li class="tab-item"><a href="/esg/envi-recy.html">자원순환</a></li>
                        <li class="tab-item"><a href="/esg/envi-eco.html">친환경</a></li>
                    </ul>
                </div>
                
                <section class="section section-esg">
                    <div class="inner">
                        <!-- 환경경영 -->
                        <div class="tit-area envi-tit">
                            <h1>환경경영</h1>
                        </div>
                        <div class="env-part" id="env-part-1">
                            
                            <div class="sub-tit env-tit">
                                <h2>환경경영 정책</h2>
                            </div>
                            <div class="env-content">
                                <div class="env-item fade-up">
                                    <div class="txt-wrap">
                                        <p class="txt">
                                            제품의 생산 단계부터 유통 후 폐기/재활용에 이르는 전과정에서 기업으로서의 책임의식과 의무이행으로 지속 가능한 경영을 추구합니다. 쿠쿠의 주요 핵심 정책은 다음과 같습니다.
                                        </p>
                                    </div>
                                    <div class="env-group">
                                        <ul class="env-img-list env-rules-list">
                                            <li>
                                                <div class="img">
                                                    <img src="/static/images/env-icon1.svg">
                                                </div>
                                                <p>친환경 제품 설계 및 개발</p>
                                            </li>
                                            <li>
                                                <div class="img">
                                                    <img src="/static/images/env-icon2.svg">
                                                </div>
                                                <p>친환경적 생산 체계화</p>
                                            </li>
                                            <li>
                                                <div class="img">
                                                    <img src="/static/images/env-icon3.svg">
                                                </div>
                                                <p>환경안전보건 체계</p>
                                            </li>
                                            <li>
                                                <div class="img">
                                                    <img src="/static/images/env-icon4.svg">
                                                </div>
                                                <p>폐전자제품 회수 및 재활용 체계</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="env-part" id="env-part-2">
                            <div class="sub-tit env-tit">
                                <h2>환경경영체계</h2>
                            </div>
                            <div class="env-content">
                                <div class="env-item fade-up">
                                    <div class="txt-wrap">
                                        <h4 class="tit">환경경영시스템 (EMS)</h4>
                                        <p class="txt">
                                            환경경영시스템(EMS)의 도입으로 환경오염 문제를 최소화하고 에너지와 자원을 효율적으로 관리하고 있습니다. 
                                        </p>
                                    </div>
                                    <div class="env-group">
                                        <div class="envi-img-area bg-gry">
                                            <div class="org-img"><img src="/static/images/eco-system.png"></div>
                                            <div class="certificate">
                                                <img src="/static/images/eco-img.png">
                                                <span>ISO 14001 인증서</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="txt-wrap">
                                        <p class="txt">
                                            대기·VOC 관리, 수질·폐수 관리, 폐기물·자원순환, 화학물질 관리, 에너지·온실가스, 친환경 제품·공급망, 법규 준수 등의 환경경영체계 영역에 대한 세부 목표를 수립하여 관리
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="env-part" id="env-part-3">
                            <div class="sub-tit env-tit">
                                <h2>환경규제관리</h2>
                            </div>
                            <div class="env-content">
                                <div class="env-item fade-up">
                                    <div class="txt-wrap">
                                        <h4 class="tit">환경규제 물질 정보 통합관리 시스템(MADAMS)</h4>
                                        <p class="txt">
                                            완제품 및 원자재에 포함된 화학물질 정보를 데이터베이스화하여 글로벌 환경규제를 준수하고 환경에 유해한 물질을 사용함에 따른 환경적 리스크를 사전에 차단하고 있습니다.
                                        </p>
                                    </div>
                                    <div class="env-group">
                                        <div class="envi-img-area bg-gry">
                                            <img src="/static/images/eco-madams.png" class="env-madams">
                                            <img src="/static/images/eco-madams-mo.png" class="env-madams mo-only">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
       
                <!-- bottom page -->
                <%- include('/layout/bottom-page.html', { showBottom: 'esg-environment' }) %>
                <!-- bottom page -->

            </div>


        </main>

        <!-- footer -->
        <%- include('/layout/footer.html') %>
        <!-- footer -->
    </body>


</html>