<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <title>CUCKOO - about - 해외 자회사 근황</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
         
    </head>
        
    <body>

        <!-- header -->
        <%- include('/layout/header.html') %>
        <!-- header -->

        <main id="container" class="container">

            <!-- sub-tab -->
            <%- include('/layout/sub-tab.html', { showTab: 'about-associate-overseas' }) %>
            <!-- sub-tab -->

            <div class="about-associate sub-page">

                <section class="section section-banner">
                    <div class="inner">
                        <div class="associate-map bg-gry" id="associate-map"></div>
                    </div>
                </section>

                <section class="section section-associate">
                    <div class="inner">

                        <!-- 중국 -->
                        <div class="associate-china-area">
                            <h2 class="associate-tit sub-tit">
                                중국
                            </h2>
                            <ul class="associate-list oversea">
                                <!-- 청도복고전자 -->
                                <li class="fade-up">
                                    <div class="associate-info">
                                        <h3 class="tit">청도복고전자</h3>
                                        <b class="eng">QINGDAO CUCKOO ELECTRONICS CO., LTD.</b>
                                    </div>
                                    <div class="associate-content">
                                        <ul class="company-info">
                                            <li class="date">2003. 03</li>
                                            <li class="address">중국 청도</li>
                                            <li class="url"><a href="https://www.cuckoo.cn/" target="_blank">https://www.cuckoo.cn/</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <!-- 심양홈시스상무유한공사 -->
                                <li class="fade-up">
                                    <div class="associate-info">
                                        <h3 class="tit">심양홈시스상무유한공사</h3>
                                        <b class="eng">SHENYANG CUCKOO HOMESYS CO., LTD.</b>
                                    </div>
                                    <div class="associate-content">
                                        <ul class="company-info">
                                            <li class="date">2018. 03</li>
                                            <li class="address">중국 심양</li>
                                            <li class="url"><a href="https://www.cuckoo.cn/" target="_blank">https://www.cuckoo.cn/</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <!-- 복고요녕전자상무유한공사 -->
                                <li class="fade-up">
                                    <div class="associate-info">
                                        <h3 class="tit">복고요녕전자상무유한공사</h3>
                                        <b class="eng">LIAONING CUCKOO E-COMMERCE CO., LTD.</b>
                                    </div>
                                    <div class="associate-content">
                                        <ul class="company-info">
                                            <li class="date">2020. 04</li>
                                            <li class="address">중국 요녕</li>
                                            <li class="url"><a href="https://www.cuckoo.cn/" target="_blank">https://www.cuckoo.cn/</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <!-- 중산복고전자과기유한회사 -->
                                <li class="fade-up">
                                    <div class="associate-info">
                                        <h3 class="tit">중산복고전자과기유한회사</h3>
                                        <b class="eng">ZHONGSHAN CUCKOO ELECTRONICS TECHNOLOGY CO., LTD.</b>
                                    </div>
                                    <div class="associate-content">
                                        <ul class="company-info">
                                            <li class="date">2025. 01</li>
                                            <li class="address">중국 중산</li>
                                            <li class="url"><a href="https://www.cuckoo.cn/" target="_blank">https://www.cuckoo.cn/</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- 미국 -->
                        <div class="associate-usa-area">
                            <h2 class="associate-tit sub-tit">
                                미국
                            </h2>
                            <ul class="associate-list oversea">
                                <!-- CUCKOO ELECTRONICS AMERICA, INC. -->
                                <li class="fade-up">
                                    <div class="associate-info">
                                        <h3 class="tit">CUCKOO ELECTRONICS AMERICA, INC.</h3>
                                    </div>
                                    <div class="associate-content">
                                        <ul class="company-info">
                                            <li class="date">2016. 10</li>
                                            <li class="address">미국 캘리포니아</li>
                                            <li class="url"><a href="https://cuckooamerica.com/" target="_blank">https://cuckooamerica.com/</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <!-- CUCKOO Rental America, Inc. -->
                                <li class="fade-up">
                                    <div class="associate-info">
                                        <h3 class="tit">CUCKOO Rental America, Inc.</h3>
                                    </div>
                                    <div class="associate-content">
                                        <ul class="company-info">
                                            <li class="date">2019. 07</li>
                                            <li class="address">미국 캘리포니아</li>
                                            <li class="url"><a href="https://cuckooamerica.com/" target="_blank">https://cuckooamerica.com/</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- 말레이시아 -->
                        <div class="associate-mal-area">
                            <h2 class="associate-tit sub-tit">
                                말레이시아
                            </h2>
                            <ul class="associate-list oversea">
                                <!-- CUCKOO International (MAL) BERHAD -->
                                <li class="fade-up">
                                    <div class="associate-info">
                                        <h3 class="tit">CUCKOO International (MAL) BERHAD</h3>
                                    </div>
                                    <div class="associate-content">
                                        <ul class="company-info">
                                            <li class="date">2014. 07</li>
                                            <li class="address">말레이시아 쿠알라룸푸르</li>
                                            <li class="url"><a href="https://www.cuckoo.com.my" target="_blank">https://www.cuckoo.com.my</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <!-- CUCKOO Global Technology Sdn Bhd -->
                                <li class="fade-up">
                                    <div class="associate-info">
                                        <h3 class="tit">CUCKOO Global Technology Sdn Bhd</h3>
                                    </div>
                                    <div class="associate-content">
                                        <ul class="company-info">
                                            <li class="date">2016. 11</li>
                                            <li class="address">말레이시아 쿠알라룸푸르</li>
                                            <li class="url"><a>-</a></li>
                                        </ul>
                                    </div>
                                </li>

                                <!-- CUCKOO ELECTRONICS MALAYSIA SDN. BHD. -->
                                <li class="fade-up">
                                    <div class="associate-info">
                                        <h3 class="tit">CUCKOO ELECTRONICS MALAYSIA SDN. BHD.</h3>
                                    </div>
                                    <div class="associate-content">
                                        <ul class="company-info">
                                            <li class="date">2018. 02</li>
                                            <li class="address">말레이시아 쿠알라룸푸르</li>
                                            <li class="url"><a>-</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- 베트남 -->
                        <div class="associate-vietnam-area">
                            <h2 class="associate-tit sub-tit">
                                베트남
                            </h2>
                            <ul class="associate-list oversea">
                                <!-- CUCKOO VINA COMPANY LIMITED -->
                                <li class="fade-up">
                                    <div class="associate-info">
                                        <h3 class="tit">CUCKOO VINA COMPANY LIMITED</h3>
                                    </div>
                                    <div class="associate-content">
                                        <ul class="company-info">
                                            <li class="date">2018. 11</li>
                                            <li class="address">베트남 하노이</li>
                                            <li class="url"><a href="https://cuckoovina.com/vi/" target="_blank">https://cuckoovina.com/vi/</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- 호주 -->
                        <div class="associate-aus-area">
                            <h2 class="associate-tit sub-tit">
                                호주
                            </h2>
                            <ul class="associate-list oversea">
                                <!-- CUCKOO OCEANIA PTY. LTD. -->
                                <li class="fade-up">
                                    <div class="associate-info">
                                        <h3 class="tit">CUCKOO OCEANIA PTY. LTD.</h3>
                                    </div>
                                    <div class="associate-content">
                                        <ul class="company-info">
                                            <li class="date">2020. 07</li>
                                            <li class="address">호주 브리즈번</li>
                                            <li class="url"><a href="https://www.cuckooaustralia.com.au/" target="_blank">https://www.cuckooaustralia.com.au/</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- 인도네시아 -->
                        <div class="associate-indonesia-area">
                            <h2 class="associate-tit sub-tit">
                                인도네시아
                            </h2>
                            <ul class="associate-list oversea">
                                <!-- PT. CUCKOO GLOBAL INDONESIA -->
                                <li class="fade-up">
                                    <div class="associate-info">
                                        <h3 class="tit">PT. CUCKOO GLOBAL INDONESIA</h3>
                                    </div>
                                    <div class="associate-content">
                                        <ul class="company-info">
                                            <li class="date">2018. 03</li>
                                            <li class="address">인도네시아 자카르타</li>
                                            <li class="url"><a href="https://www.cuckoo.co.id/" target="_blank">https://www.cuckoo.co.id/</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- 인도 -->
                        <div class="associate-india-area">
                            <h2 class="associate-tit sub-tit">
                                인도
                            </h2>
                            <ul class="associate-list oversea">
                                <!-- CUCKOO APPLIANCES PRIVATE LIMITED -->
                                <li class="fade-up">
                                    <div class="associate-info">
                                        <h3 class="tit">CUCKOO APPLIANCES PRIVATE LIMITED</h3>
                                    </div>
                                    <div class="associate-content">
                                        <ul class="company-info">
                                            <li class="date">2018. 03</li>
                                            <li class="address">인도 노이다</li>
                                            <li class="url"><a href="https://cuckooindia.in/" target="_blank">https://cuckooindia.in/</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- 싱가포르 -->
                        <div class="associate-sing-area">
                            <h2 class="associate-tit sub-tit">
                                싱가포르
                            </h2>
                            <ul class="associate-list oversea">
                                <!-- CUCKOO International (S) Pte. Ltd. -->
                                <li class="fade-up">
                                    <div class="associate-info">
                                        <h3 class="tit">CUCKOO International (S) Pte. Ltd.</h3>
                                    </div>
                                    <div class="associate-content">
                                        <ul class="company-info">
                                            <li class="date">2016. 12</li>
                                            <li class="address">싱가포르</li>
                                            <li class="url"><a>-</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        
                    </div>
                </section>


                <!-- bottom page -->
                <%- include('/layout/bottom-page.html', { showBottom: 'about-associate-overseas' }) %>
                <!-- bottom page -->

            </div>


        </main>

        <!-- footer -->
        <%- include('/layout/footer.html') %>
        <!-- footer -->
    </body>


</html>