<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <title>CUCKOO - about - 소개</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
         
    </head>
        

    <body>

        <!-- header -->
        <%- include('/layout/header.html') %>
        <!-- header -->

        <main id="container" class="container">

            <!-- sub-tab -->
            <%- include('/layout/sub-tab.html', { showTab: 'about-intro' }) %>
            <!-- sub-tab -->

            <div class="about-intro sub-page">
       
                <section class="hero-intro">
                    <div class="intro-full">
                        <div class="bg-about"></div>
                        <div class="txt-area">
                            <h4 class="sub-tit">Company Overview</h4>
                            <h3 class="tit-txt">
                                49년의 기술력, 100년의 행복을 설계하는 글로벌 종합가전 기업
                            </h3>
                            <p class="txt">
                                1970년 성광전자로 시작된 쿠쿠의 여정은 오직 고객의 행목을 향해 달려왔습니다. 1998년 자체 브랜드 ‘쿠쿠’ 런칭 이후<br>
                                독보적인 기술력으로 국내 밥솥 시장 1위를 수성해 왔으며, 이제는 주방을 넘어 생활 전반에 스며드는 감동 테크놀러지로 전세계인의 일상을 혁신하고 있습니다.
                            </p>
                        </div>
                    </div>
                </section>
                <section class="section section-vision">
                    <div class="inner">
                        <div class="vision-head">
                            <div class="sub-tit">
                                <h2>Vision & Stratagy</h2>
                            </div>
                            <div class="content">
                                <h4 class="tit-txt quote">대한민국 NO.1으로, 세계의 중심으로</h4>
                                <p class="txt">단순한 가전 제조사를 넘어 고객의 삶에 가치를 더하는 글로벌 종합가전기업으로 도약합니다.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section section-seek bg-gry">
                    <div class="inner">
                        <ul class="seek-item-list">
                            <li class="seek-item">
                                <div class="img">
                                    <img src="/cuckooWeb/images/about-img01.png">
                                </div>
                                <div class="txt-wrap">
                                    <h4 class="tit-txt">
                                        Creative Technology
                                    </h4>
                                    <p class="txt">
                                        주방 가전을 넘어 정수기, 공기청정기, 안마의자 등 생활·렌탈 가전<br>
                                        전반의 혁신을 주도합니다.
                                    </p>
                                </div>
                            </li>
                            <li class="seek-item">
                                <div class="txt-wrap">
                                    <h4 class="tit-txt">
                                        Global Expansion
                                    </h4>
                                    <p class="txt">
                                        아시아를 넘어 미국, 호주 등 세계 각국에서 기술력을 인정받으며<br>
                                        글로벌 시장 점유율을 확대하고 있습니다.
                                    </p>
                                </div>
                                <div class="img">
                                    <img src="/cuckooWeb/images/about-img02.png">
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <!-- bottom page -->
                <%- include('/layout/bottom-page.html', { showBottom: 'about-intro' }) %>
                <!-- bottom page -->

            </div>


        </main>

        <!-- footer -->
        <%- include('/layout/footer.html') %>
        <!-- footer -->
    </body>


</html>