<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <title>CUCKOO - about - 한국 본사 소개</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
         
    </head>
        

    <body>

        <!-- header -->
        <%- include('/layout/header.html') %>
        <!-- header -->

        <main id="container" class="container">

            <!-- sub-tab -->
            <%- include('/layout/sub-tab.html', { showTab: 'about-associate-kr' }) %>
            <!-- sub-tab -->

            <div class="about-associate sub-page">
                
                <section class="section section-associate">
                    <div class="inner">
                        <h2 class="associate-tit sub-tit">
                            대한민국
                        </h2>
                        <ul class="associate-list">
                            <li class="fade-up">
                                <div class="associate-info">
                                    <h3 class="tit">쿠쿠홀딩스</h3>
                                    <b class="eng">CUCKOO HOLDINGS</b>
                                    <p class="sub-txt"></p>
                                </div>
                                <div class="associate-content">
                                    <ul class="company-info">
                                        <li class="date">1978.11 (성광전자㈜로 설립, 2017.12 지주회사로 전환)</li>
                                        <li class="type">자회사 경영자문, 브랜드 및 상표권 관리, 신규 투자사업</li>
                                        <li class="address">경상남도 양산시 유산공단2길 14(교동)</li>
                                        <li class="stock-info">2014.08 유가증권시장(KOSPI)</li>
                                    </ul>
                                </div>
                            </li>
                        
                            <!-- 쿠쿠홈시스 -->
                            <li class="fade-up">
                                <div class="associate-info">
                                    <h3 class="tit">쿠쿠홈시스</h3>
                                    <b class="eng">CUCKOO HOMESYS</b>
                                    <p class="sub-txt"></p>
                                </div>
                                <div class="associate-content">
                                    <ul class="company-info">
                                        <li class="date">2017</li>
                                        <li class="type">생활가전 제조, 렌탈 및 일시불 판매</li>
                                        <li class="address">경기도 시흥시 엠티브이북로349 (정왕동)</li>
                                        <li class="stock-info">2018.01 유가증권시장(KOSPI)</li>
                                    </ul>
                                </div>
                            </li>
                        
                            <!-- 쿠쿠전자 -->
                            <li class="fade-up">
                                <div class="associate-info">
                                    <h3 class="tit">쿠쿠전자</h3>
                                    <b class="eng">CUCKOO ELECTRONICS</b>
                                    <p class="sub-txt"></p>
                                </div>
                                <div class="associate-content">
                                    <ul class="company-info">
                                        <li class="date">2017.12 (쿠쿠홀딩스로부터 물적분할)</li>
                                        <li class="type">주방가전 제조 및 판매</li>
                                        <li class="address">경상남도 양산시 유산공단2길 14(교동)</li>
                                        <li class="stock-info hidden"><a>-</a></li>
                                    </ul>
                                </div>
                            </li>
                        
                            <!-- 쿠쿠 사회복지재단 -->
                            <li class="fade-up hidden">
                                <div class="associate-info">
                                    <h3 class="tit">쿠쿠 사회복지재단</h3>
                                    <b class="eng">CUCKOO FOUNDATION</b>
                                    <p class="sub-txt"></p>
                                </div>
                                <div class="associate-content">
                                    <div class="txt"></div>
                                    <ul class="company-info">
                                        <li class="date">2007. 05. 22</li>
                                        <li class="type">사회공헌 및 복지 사업</li>
                                        <li class="address">경상남도 양산시 유산공단2길 14(교동)</li>
                                        <li class="stock-info"><a href="https://welfare.cuckoo.co.kr/" target="_blank">https://welfare.cuckoo.co.kr/</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!-- 엔탑(주) -->
                            <li class="fade-up hidden">
                                <div class="associate-info">
                                    <h3 class="tit">엔탑(주)</h3>
                                    <b class="eng">NTOP CORP.</b>
                                    <p class="sub-txt"></p>
                                </div>
                                <div class="associate-content">
                                    <div class="txt"></div>
                                    <ul class="company-info">
                                        <li class="date">1985. 10. 15</li>
                                        <li class="type">가전 부품 제조 및 판매</li>
                                        <li class="address">-</li>
                                        <li class="stock-info"><a href="http://www.ntopcorp.com" target="_blank">http://www.ntopcorp.com</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>


                <!-- bottom page -->
                <%- include('/layout/bottom-page.html', { showBottom: 'about-associate-kr' }) %>
                <!-- bottom page -->

            </div>


        </main>

        <!-- footer -->
        <%- include('/layout/footer.html') %>
        <!-- footer -->
    </body>


</html>