<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <title>CUCKOO - about - 한국 본사 소개</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
         
    </head>
        

    <body>

        <!-- header -->
        <%- include('/layout/header.html') %>
        <!-- header -->

        <main id="container" class="container">

            <!-- sub-tab -->
            <%- include('/layout/sub-tab.html', { showTab: 'about-associate-kr' }) %>
            <!-- sub-tab -->

            <div class="about-associate sub-page">
                
                <section class="section section-associate">
                    <div class="inner">
                        <h2 class="associate-tit sub-tit">
                            대한민국
                        </h2>
                        <ul class="associate-list">
                            <li class="fade-up">
                                <div class="associate-info">
                                    <h3 class="tit">쿠쿠홀딩스</h3>
                                    <b class="eng">CUCKOO HOLDINGS</b>
                                    <p class="sub-txt">혁신적 가치를 창출하는 글로벌 지주회사</p>
                                </div>
                                <div class="associate-content">
                                    <div class="txt">
                                        쿠쿠홀딩스는 지주 회사로서 CUCKOO 그룹의 브랜드 위상을 정립하고, 자회사의 수익 극대화를 위한 최적의 정책 및 전략을 개발하고 있습니다.
                                        경영 효율성 제고와 책임 경영 체제 확립을 통해 그룹 전체의 지속 가능한 성장을 견인하고 있습니다.
                                    </div>
                                    <ul class="company-info">
                                        <li class="date">1978. 11. 15 (성광전자㈜로 설립)</li>
                                        <li class="type">자회사 경영자문, 브랜드 및 상표권 관리, 신규 투자사업</li>
                                        <li class="address">경상남도 양산시 유산공단2길 14(교동)</li>
                                        <li class="url"><a>-</a></li>
                                    </ul>
                                </div>
                            </li>
                        
                            <!-- 쿠쿠홈시스 -->
                            <li class="fade-up">
                                <div class="associate-info">
                                    <h3 class="tit">쿠쿠홈시스</h3>
                                    <b class="eng">CUCKOO HOMESYS</b>
                                    <p class="sub-txt">가꾸는 케어 및 라이프스타일 서비스 기업</p>
                                </div>
                                <div class="associate-content">
                                    <div class="txt">
                                        청정 생활가전 제조, 판매하며 고객의 필요에 맞춘 차별화된 라이프스타일 서비스를 제공합니다.
                                    </div>
                                    <ul class="company-info">
                                        <li class="date">2017</li>
                                        <li class="type">가전 제품 제조, 판매 및 렌탈 서비스</li>
                                        <li class="address">경기도</li>
                                        <li class="url"><a>-</a></li>
                                    </ul>
                                </div>
                            </li>
                        
                            <!-- 쿠쿠전자 -->
                            <li class="fade-up">
                                <div class="associate-info">
                                    <h3 class="tit">쿠쿠전자</h3>
                                    <b class="eng">CUCKOO ELECTRONICS</b>
                                    <p class="sub-txt">가전 완성도를 높이는 주방 가전 핵심 기업</p>
                                </div>
                                <div class="associate-content">
                                    <div class="txt">
                                        독보적인 기술력을 바탕으로 시장을 선도하는 프리미엄 종합생활가전 기업입니다.
                                    </div>
                                    <ul class="company-info">
                                        <li class="date">2017. 12. 01</li>
                                        <li class="type">주방 및 생활가전 제조 및 판매</li>
                                        <li class="address">경상남도 양산시 유산공단2길 14(교동)</li>
                                        <li class="url"><a>-</a></li>
                                    </ul>
                                </div>
                            </li>
                        
                            <!-- 쿠쿠 사회복지재단 -->
                            <li class="fade-up hidden">
                                <div class="associate-info">
                                    <h3 class="tit">쿠쿠 사회복지재단</h3>
                                    <b class="eng">CUCKOO FOUNDATION</b>
                                    <p class="sub-txt">나눔과 상생을 통해 따뜻한 사회를 만드는 기업</p>
                                </div>
                                <div class="associate-content">
                                    <div class="txt">
                                        소외계층 지원과 다양한 복지 사업을 통해 기업의 사회적 책임을 실천하고 있습니다.
                                    </div>
                                    <ul class="company-info">
                                        <li class="date">2007. 05. 22</li>
                                        <li class="type">사회공헌 및 복지 사업</li>
                                        <li class="address">경상남도 양산시 유산공단2길 14(교동)</li>
                                        <li class="url"><a href="https://welfare.cuckoo.co.kr/" target="_blank">https://welfare.cuckoo.co.kr/</a></li>
                                    </ul>
                                </div>
                            </li>
                            <!-- 엔탑(주) -->
                            <li class="fade-up hidden">
                                <div class="associate-info">
                                    <h3 class="tit">엔탑(주)</h3>
                                    <b class="eng">NTOP CORP.</b>
                                    <p class="sub-txt">가전 완성도를 높이는 부품 전문 기업</p>
                                </div>
                                <div class="associate-content">
                                    <div class="txt">
                                        최고의 기술력과 품질을 바탕으로 가전제품의 핵심 부품을 생산 및 공급하고 있습니다.
                                    </div>
                                    <ul class="company-info">
                                        <li class="date">1985. 10. 15</li>
                                        <li class="type">가전 부품 제조 및 판매</li>
                                        <li class="address">-</li>
                                        <li class="url"><a href="http://www.ntopcorp.com" target="_blank">http://www.ntopcorp.com</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>


                <!-- bottom page -->
                <%- include('/layout/bottom-page.html', { showBottom: 'about-associate-kr' }) %>
                <!-- bottom page -->

            </div>


        </main>

        <!-- footer -->
        <%- include('/layout/footer.html') %>
        <!-- footer -->
    </body>


</html>