<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <title>CUCKOO - esg - 환경</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
         
    </head>
        

    <body>

        <!-- header -->
        <%- include('/layout/header.html') %>
        <!-- header -->

        <main id="container" class="container">

            <!-- sub-tab -->
            <%- include('/layout/sub-tab.html', { showTab: 'esg-environment' }) %>
            <!-- sub-tab -->

            <div class="esg-envi sub-page">
                <div class="tab-area envi-tab-area">
                    <ul class="tab-track envi-tab">
                        <li class="tab-item"><a href="/esg/envi-mgmt.html">환경경영</a></li>
                        <li class="tab-item on"><a href="/esg/envi-recy.html">자원순환</a></li>
                        <li class="tab-item"><a href="/esg/envi-eco.html">친환경</a></li>
                    </ul>
                </div>
                
                <section class="section section-esg">
                    <div class="inner">
                        <!-- 자원순환 -->
                        <div class="tit-area envi-tit">
                            <h1>자원순환</h1>
                        </div>
                        <div class="env-part" id="env-part-4">
                            <div class="sub-tit env-tit">
                                <h2>자원순환활동</h2>
                            </div>
                            <div class="env-content">
                                <div class="env-item">
                                    <div class="txt-wrap">
                                        <h4 class="tit">지속 가능한 미래를 위한 약속, ‘E-순환우수제품’ 인증</h4>
                                        <p class="txt">
                                            쿠쿠는 제품의 생산부터 재활용에 이르는 전 과정에서 자원 순환성을 극대화하며 탄소 배출 저감에 앞장서고 있습니다. 음식물처리기를 포함한 쿠쿠의 주요 생활가전은 친환경 설계와 재활용 용이성을 인정받아 ‘E-순환우수제품’ 인증을 획득하였습니다. 기술력을 넘어 환경까지 생각하는 가전, 쿠쿠가 순환 경제의 기준을 세웁니다.
                                        </p>
                                    </div>
                                    <div class="env-group">
                                        <h5 class="sub-tit">E-순환우수제품 목록</h5>
                                        <div class="env-slide-wrap">
                                            <ul class="env-slide-track">
                                                <li class="bg-gry">
                                                    <span class="e-icon"></span>
                                                    <em class="product-code">CFD-C151MOB</em>
                                                    <img src="/cuckooWeb/images/CFD-C151MOB.png">
                                                </li>
                                                <li class="bg-gry">
                                                    <span class="e-icon"></span>
                                                    <em class="product-code">CFD-D301DCNW</em>
                                                    <img src="/cuckooWeb/images/CFD-D301DCNW.png">
                                                </li>
                                                <li class="bg-gry">
                                                    <span class="e-icon"></span>
                                                    <em class="product-code">CFD-ENL201DCGW</em>
                                                    <img src="/cuckooWeb/images/CFD-ENL201DCGW.png">

                                                </li>
                                                <li class="bg-gry">
                                                    <span class="e-icon"></span>
                                                    <em class="product-code">CIR-GSFF302FW</em>
                                                    <img src="/cuckooWeb/images/CIR-GSFF302FW.png">

                                                </li>
                                                <li class="bg-gry">
                                                    <span class="e-icon"></span> 
                                                    <em class="product-code">CP-SS100HGW</em>
                                                    <img src="/cuckooWeb/images/CP-SS100HGW.png">

                                                </li>
                                                <li class="bg-gry">
                                                    <span class="e-icon"></span>
                                                    <em class="product-code">AC-14R20FNW</em>
                                                    <img src="/cuckooWeb/images/AC-14R20FNW.png">

                                                </li>
                                                <li class="bg-gry">
                                                    <span class="e-icon"></span>
                                                    <em class="product-code">AC-25W20FW</em>
                                                    <img src="/cuckooWeb/images/AC-25W20FW.png">

                                                </li>
                                                <li class="bg-gry">
                                                    <span class="e-icon"></span>
                                                    <em class="product-code">AC-35U20FCG</em>
                                                    <img src="/cuckooWeb/images/AC-35U20FCG.png">

                                                </li>
                                                <li class="bg-gry">
                                                    <span class="e-icon"></span>
                                                    <em class="product-code">AC-N12XP20FW</em>
                                                    <img src="/cuckooWeb/images/AC-N12XP20FW.png">

                                                </li>
                                                <li class="bg-gry">
                                                    <span class="e-icon"></span>
                                                    <em class="product-code">AC-N12XP20FW</em>
                                                    <img src="/cuckooWeb/images/AC-N12XP20FW.png">

                                                </li>
                                            </ul>
                                            <div class="env-slide-pager">
                                                <a class="icon-24px env-slide-prev">
                                                    <svg class="icon-18px">
                                                        <use xlink:href="/cuckooWeb/images/sprite.svg#prev"/>
                                                    </svg>
                                                </a>
                                                <a class="icon-24px env-slide-next">
                                                    <svg class="icon-18px">
                                                        <use xlink:href="/cuckooWeb/images/sprite.svg#next"/>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="env-group">
                                        <h5 class="sub-tit">E-순환우수제품 현황</h5>
                                        <div class="env-recycle-graph" id="env-recycle-graph"></div>
                                        <div class="txt-wrap">
                                            <p class="txt">
                                                쿠쿠는 가전 전 제품군에서 자원순환 설계와 친환경 혁신을 적극 반영하며, 재생원재료 사용, 재활용 용이성, 유해물질 저감 등의 활동을 바탕으로 자원순환 제품을 확대해 나가고 있습니다.
                                            </p>
                                            <span class="sub-txt">
                                                * E순환인증이란? : 환경부 산하 한국환경공단에서 운영하는 제도로, 자원순환성이 뛰어난 제품에 부여되는 공식 인증마크입니다. 생산 및 재활용 단계에서 탄소배출량 감축 등 친환경성을 인정받은 제품이 인증마크를 부여 받을 수 있습니다.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="env-item">
                                    <div class="txt-wrap">
                                        <h4 class="tit">E-순환 페스티벌 행사</h4>
                                        <p class="txt">
                                            E-순환우수제품에 대한 소비자 관심을 유도하고 친환경 인증제품 사용을 적극 장려하는 취지로 매년 E-순환 페스티벌 행사를 진행합니다.  쿠쿠는 자원순환 설계와 친환경 혁신을 적극 반영하며 소비자와 함께 환경적 가치를 실현하는 ESG 경영을 강화해 나가고 있습니다. 
                                        </p>
                                    </div>
                                    <div class="env-group">
                                        <h5 class="sub-tit">2025년 E-순환 페스티벌 (9월~10월 진행)</h5>
                                        <ul class="img-wrap recy-img-wrap">
                                            <li>
                                                <img src="/cuckooWeb/images/esg-img03.png">
                                            </li>
                                            <li>
                                                <img src="/cuckooWeb/images/esg-img04.png">
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="env-item">
                                    <div class="txt-wrap">
                                        <h4 class="tit">친환경 재생 원재료 확대</h4>
                                        <p class="txt">
                                            쿠쿠는 정수기, 공기청정기, 음식물처리기 등 주요 생활가전 제품 전반에 재생 원재료 사용을 확대하고 있습니다. 특히 인기 모델인 제로 100 슬림 얼음 정수기와 바리스타 정수기는 재생 원재료 사용 100%를 달성했으며, 공기청정기 일부 모델은 96%까지 적용하고 있습니다. 음식물처리기에는 재생 고유동 ABS 소재를 하이브리드 인덕션 레인지는 친환경 난연 PP 소재를 적용하는 등 친환경 원재료 적용을 지속 확대하고 있습니다. 
                                        </p>
                                    </div>
                                    <div class="env-group">
                                        <h5 class="sub-tit">재생 원재료 사용 현황</h5>
                                        <div class="env-recovery-graph" id="env-recovery-graph"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
       
                <!-- bottom page -->
                <%- include('/layout/bottom-page.html', { showBottom: 'esg-environment' }) %>
                <!-- bottom page -->

            </div>


        </main>

        <!-- footer -->
        <%- include('/layout/footer.html') %>
        <!-- footer -->
    </body>


</html>