<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <title>CUCKOO - esg - 지배구조</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
         
    </head>
        

    <body>

        <!-- header -->
        <%- include('/layout/header.html') %>
        <!-- header -->

        <main id="container" class="container">

            <!-- sub-tab -->
            <%- include('/layout/sub-tab.html', { showTab: 'esg-governance' }) %>
            <!-- sub-tab -->

            <div class="esg-gov sub-page">

                <div class="tab-area gov-tab-area">
                    <ul class="tab-track gov-tab">
                        <li class="tab-item"><a href="/esg/gov-dir.html">이사회</a></li>
                        <li class="tab-item on"><a href="/esg/gov-info.html">지배구조보고서</a></li>
                    </ul>
                </div>
                
                <section class="section section-esg">
                    <div class="inner">
                        <!-- 지배구조보고서 -->
                        <div class="tit-area gov-tit">
                            <h1>지배구조보고서</h1>
                        </div>
                        <div class="gov-part" id="gov-part-4">
                            <div class="gov-content">
                                <div class="gov-item fade-up">
                                    <p class="txt">
                                        쿠쿠는 건전하고 독립적인 지배구조 확립을 최우선 과제로 삼고 있습니다. 우리는 매년 '기업지배구조보고서'를 공시하여 경영의 투명성을 확보하고, 핵심 원칙의 준수 현황을 모든 이해관계자에게 가감 없이 공개하고 있습니다. 주주의 권익을 보호하고 이사회의 독립적인 의사결정 체계를 공고히 함으로써, 쿠쿠는 신뢰받는 기업으로서의 책임을 다하고 있습니다.
                                    </p>
                                    <ul class="gov-board-form board-form" id="gov-report">
                                        <li>
                                            <a href="#">
                                                <div class="date">2025</div>
                                                <div class="corp">쿠쿠홀딩스</div>
                                                <div class="subtit">기업지배구조보고서</div>
                                            </a> 
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="date">2025</div>
                                                <div class="corp">쿠쿠홈시스</div>
                                                <div class="subtit">기업지배구조보고서</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="date">2024</div>
                                                <div class="corp">쿠쿠홀딩스</div>
                                                <div class="subtit">기업지배구조보고서</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="date">2024</div>
                                                <div class="corp">쿠쿠홈시스</div>
                                                <div class="subtit">기업지배구조보고서</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="date">2023</div>
                                                <div class="corp">쿠쿠홀딩스</div>
                                                <div class="subtit">기업지배구조보고서</div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
       
                <!-- bottom page -->
                <%- include('/layout/bottom-page.html', { showBottom: 'esg-governance' }) %>
                <!-- bottom page -->

            </div>


        </main>

        <!-- footer -->
        <%- include('/layout/footer.html') %>
        <!-- footer -->
    </body>


</html>