<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <title>CUCKOO - esg - 지배구조</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
         
    </head>
        

    <body>

        <!-- header -->
        <%- include('/layout/header.html') %>
        <!-- header -->

        <main id="container" class="container">

            <!-- sub-tab -->
            <%- include('/layout/sub-tab.html', { showTab: 'esg-governance' }) %>
            <!-- sub-tab -->

            <div class="esg-gov sub-page">

                <div class="tab-area gov-tab-area">
                    <ul class="tab-track gov-tab">
                        <li class="tab-item on"><a href="/esg/gov-dir.html">이사회</a></li>
                        <li class="tab-item"><a href="/esg/gov-info.html">정보고시</a></li>
                    </ul>
                </div>
                
                <section class="section section-esg">
                    <div class="inner">
                        <!-- 이사회 -->
                        <div class="tit-area gov-tit">
                            <h1>이사회</h1>
                        </div>
                        <div class="gov-part" id="gov-part-1">
                            <div class="sub-tit gov-tit">
                                <h2>이사회 구성</h2>
                            </div>
                            <div class="gov-content">
                                <div class="gov-item">
                                    <h4 class="tit">투명하고 전문적인 의사결정으로 책임 경영을 실현합니다.</h4>
                                    <div class="txt-area">
                                        <p class="txt">
                                            쿠쿠는 주주의 권익을 보호하고 기업 가치를 높이기 위해, 투명하고 합리적인 지배구조를 바탕으로 책임 경영을 실천하고 있습니다.
                                        </p>
                                        <p class="txt">
                                            이사회는 경영, 경제, 회계, 법률, 기술 등 각 분야에서 충분한 지식과 경험을 갖춘 최고 전문가로서, 경영 전반을 철저히 감독하고 조언하며 회사의 투명한 의사결정을 돕습니다.  과반 이상의 이사들을 독립이사로 구성하여, 경영진을 실질적으로 견제할 수 있으며, 회사의 이해관계자들의 이익에 실질적으로 도움이 될 수 있도록 투명한 의사결정 프로세스를 구축합니다.
                                        </p>
                                        <p class="txt">
                                            회사는 이러한 이사들의 활동을 돕고, 이사들이 충실히 역할을 다할 수 있도록 전담 지원 조직을 갖추고, 이사회 전 안건과 관련된 충분한 경영 정보를 제공하고 있습니다.
                                        </p>
                                    </div>
                                </div>
                                <div class="gov-item">
                                    <div class="gov-comp-tab tab-btn-area">
                                        <a class="btn on">쿠쿠홀딩스</a>
                                        <a class="btn">쿠쿠홈시스</a>
                                    </div>
                                    <div class="gov-table-area">
                                        <div class="gov-table-item" id="gov-comp-holdings">
                                            <table class="table-form gov-comp-table">
                                                <thead>
                                                    <tr>
                                                        <th>구분</th>
                                                        <th>성명</th>
                                                        <th>임기</th>
                                                        <th>선임배경</th>
                                                        <th>추천인</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <p>사내이사</p>
                                                            <p>대표이사</p>
                                                        </td>
                                                        <td>구자신</td>
                                                        <td>-</td>
                                                        <td>
                                                            당사의 업무총괄 및 대외적 업무를 안정적으로 수행
                                                        </td>
                                                        <td>
                                                            이사회
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>사내이사</td>
                                                        <td>구본학</td>
                                                        <td>2028.05.13</td>
                                                        <td>해당 산업분야 전문가</td>
                                                        <td>이사회</td>
                                                    </tr>
                                                    <tr>
                                                        <td>사외이사</td>
                                                        <td>김대열</td>
                                                        <td>-</td>
                                                        <td>법률 전문가</td>
                                                        <td>사외이사후보추천 위원회</td>
                                                    </tr>
                                                    <tr>
                                                        <td>사외이사</td>
                                                        <td>허준영</td>
                                                        <td>-</td>
                                                        <td>회계 전문가 (공인회계사)</td>
                                                        <td>사외이사후보추천 위원회</td>
                                                    </tr>
                                                    <tr>
                                                        <td>사외이사</td>
                                                        <td>이묘승</td>
                                                        <td>2028.03.25</td>
                                                        <td>회계 전문가 (공인회계사)</td>
                                                        <td>사외이사후보추천 위원회</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="gov-table-item" id="gov-comp-homesys">
                                            <table class="table-form gov-comp-table">
                                                <thead>
                                                    <tr>
                                                        <th>구분</th>
                                                        <th>성명</th>
                                                        <th>임기</th>
                                                        <th>선임배경</th>
                                                        <th>추천인</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <p>사내이사</p>
                                                            <p>대표이사</p>
                                                        </td>
                                                        <td>구자신</td>
                                                        <td>-</td>
                                                        <td>
                                                            당사의 업무총괄 및 대외적 업무를 안정적으로 수행
                                                        </td>
                                                        <td>
                                                            이사회
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>사내이사</td>
                                                        <td>구본학</td>
                                                        <td>2028.05.13</td>
                                                        <td>해당 산업분야 전문가</td>
                                                        <td>이사회</td>
                                                    </tr>
                                                    <tr>
                                                        <td>사외이사</td>
                                                        <td>김대열</td>
                                                        <td>-</td>
                                                        <td>법률 전문가</td>
                                                        <td>사외이사후보추천 위원회</td>
                                                    </tr>
                                                    <tr>
                                                        <td>사외이사</td>
                                                        <td>허준영</td>
                                                        <td>-</td>
                                                        <td>회계 전문가 (공인회계사)</td>
                                                        <td>사외이사후보추천 위원회</td>
                                                    </tr>
                                                    <tr>
                                                        <td>사외이사</td>
                                                        <td>이묘승</td>
                                                        <td>2028.03.25</td>
                                                        <td>회계 전문가 (공인회계사)</td>
                                                        <td>사외이사후보추천 위원회</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gov-part" id="gov-part-2">
                            <div class="sub-tit gov-tit">
                                <h2>이사회 운영</h2>
                            </div>
                            <div class="gov-content">
                                <div class="gov-item">
                                    <p class="txt">
                                        쿠쿠는 이사회 규정을 철저히 준수하여 견제와 감시 기능을 수행하고. 책임경영을 통해 주주 권익 보호와 회사의 지속가능한 성장을 도모합니다.
                                    </p>
                                </div>
                                <div class="gov-item">
                                    <div class="gov-operate-tab tab-btn-area">
                                        <a class="btn on">쿠쿠홀딩스</a>
                                        <a class="btn">쿠쿠홈시스</a>
                                    </div>
                                    <div class="gov-table-area">
                                        <div class="gov-table-item" id="gov-operate-holdings">
                                            <table class="table-form gov-operate-table">
                                                <thead>
                                                    <tr>
                                                        <th>회차</th>
                                                        <th>개최일자</th>
                                                        <th>의안내용</th>
                                                        <th>가결여부</th>
                                                        <th>출석/정원</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>25-01</td>
                                                        <td>2025.03.10</td>
                                                        <td>
                                                            <p>1. 제48기 정기주주총회 소집의 건</p>
                                                            <p>2. 제48기 현금 배당 결정의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>5/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>25-02</td>
                                                        <td>2025.03.17</td>
                                                        <td>
                                                            <p>제48기 정기주주총회 임시의장 선임의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>4/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>25-03</td>
                                                        <td>2025.04.01</td>
                                                        <td>
                                                            <p>제49기 임시주주총회 소집의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>5/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>25-04</td>
                                                        <td>2025.04.21</td>
                                                        <td>
                                                            <p>내부회계관리제도 규정 개정의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>5/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>25-05</td>
                                                        <td>2025.04.28</td>
                                                        <td>
                                                            <p>제49기 임시주주총회 임시의장 선임의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>4/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>25-06</td>
                                                        <td>2025.09.12</td>
                                                        <td>
                                                            <p>1. 제1회 무기명식 무보증 사모 교환사채 발행의 건</p>
                                                            <p>2. 자기주식 처분의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>5/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>25-07</td>
                                                        <td>2025.10.01</td>
                                                        <td>
                                                            <p>임시주주총회 소집의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>5/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>25-08</td>
                                                        <td>2025.10.28</td>
                                                        <td>
                                                            <p>제49기 2회차 임시주주총회 임시의장 선임의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>4/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>26-01</td>
                                                        <td>2026.02.09</td>
                                                        <td>
                                                            <p>
                                                                제49기 결산재무제표 및 영업보고서(별도) 승인과 외부감사인 제출의 건
                                                            </p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>5/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>26-02</td>
                                                        <td>2026.02.23</td>
                                                        <td>
                                                            <p>
                                                                제49기 결산재무제표 및 영업보고서(연결) 승인과 외부감사인 제출의 건
                                                            </p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>5/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>26-03</td>
                                                        <td>2026.03.09</td>
                                                        <td>
                                                            <p>1. 2025년 내부회계관리제도 운영실태 보고의 건</p>
                                                            <p>2. 제49기 정기주주총회 소집의 건</p>
                                                            <p>3. 제49기 현금배당 결정의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>5/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>26-04</td>
                                                        <td>2026.03.16</td>
                                                        <td>
                                                            <p>제49기 정기주주총회 임시의장 선임의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>4/5</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="gov-table-item" id="gov-operate-homesys">
                                            <table class="table-form gov-operate-table">
                                                <thead>
                                                    <tr>
                                                        <th>회차</th>
                                                        <th>개최일자</th>
                                                        <th>의안내용</th>
                                                        <th>가결여부</th>
                                                        <th>출석/정원</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>25-01</td>
                                                        <td>2025.03.10</td>
                                                        <td>
                                                            <p>1. 제48기 정기주주총회 소집의 건</p>
                                                            <p>2. 제48기 현금 배당 결정의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>5/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>25-02</td>
                                                        <td>2025.03.17</td>
                                                        <td>
                                                            <p>제48기 정기주주총회 임시의장 선임의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>4/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>25-03</td>
                                                        <td>2025.04.01</td>
                                                        <td>
                                                            <p>제49기 임시주주총회 소집의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>5/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>25-04</td>
                                                        <td>2025.04.21</td>
                                                        <td>
                                                            <p>내부회계관리제도 규정 개정의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>5/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>25-05</td>
                                                        <td>2025.04.28</td>
                                                        <td>
                                                            <p>제49기 임시주주총회 임시의장 선임의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>4/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>25-06</td>
                                                        <td>2025.09.12</td>
                                                        <td>
                                                            <p>1. 제1회 무기명식 무보증 사모 교환사채 발행의 건</p>
                                                            <p>2. 자기주식 처분의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>5/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>25-07</td>
                                                        <td>2025.10.01</td>
                                                        <td>
                                                            <p>임시주주총회 소집의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>5/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>25-08</td>
                                                        <td>2025.10.28</td>
                                                        <td>
                                                            <p>제49기 2회차 임시주주총회 임시의장 선임의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>4/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>26-01</td>
                                                        <td>2026.02.09</td>
                                                        <td>
                                                            <p>
                                                                제49기 결산재무제표 및 영업보고서(별도) 승인과 외부감사인 제출의 건
                                                            </p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>5/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>26-02</td>
                                                        <td>2026.02.23</td>
                                                        <td>
                                                            <p>
                                                                제49기 결산재무제표 및 영업보고서(연결) 승인과 외부감사인 제출의 건
                                                            </p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>5/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>26-03</td>
                                                        <td>2026.03.09</td>
                                                        <td>
                                                            <p>1. 2025년 내부회계관리제도 운영실태 보고의 건</p>
                                                            <p>2. 제49기 정기주주총회 소집의 건</p>
                                                            <p>3. 제49기 현금배당 결정의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>5/5</td>
                                                    </tr>
                                                    <tr>
                                                        <td>26-04</td>
                                                        <td>2026.03.16</td>
                                                        <td>
                                                            <p>제49기 정기주주총회 임시의장 선임의 건</p>
                                                        </td>
                                                        <td>가결</td>
                                                        <td>4/5</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gov-part" id="gov-part-3">
                            <div class="sub-tit gov-tit">
                                <h2>이사회 내 위원회</h2>
                            </div>
                            <div class="gov-content">
                                <div class="gov-item">
                                    <p class="txt">
                                        당사는 사외이사 중심으로 이사회 내 위원회를 운영하고 있으며, 각 위원회는 설치목적과 부여된 권한에 맞춰 다양한 안건을 전문적으로 바라보고, 이사회의 의사결정을 지원합니다. 
                                    </p>
                                </div>
                                <div class="gov-item">
                                    <div class="gov-comm-tab tab-btn-area">
                                        <a class="btn on">쿠쿠홀딩스</a>
                                        <a class="btn">쿠쿠홈시스</a>
                                    </div>
                                    <div class="gov-table-area">
                                        <div class="gov-table-item" id="gov-comm-holdings">
                                            <div class="gov-table-group">
                                                <h5 class="sub-tit">감사위원회 선출기준</h5>
                                                <table class="table-form gov-comm-table">
                                                    <thead>
                                                        <tr>
                                                            <th>선출기준의 주요내용</th>
                                                            <th>선출기준의 충족여부</th>
                                                            <th>관련 법령 등</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>3명 이상의 이사로 구성</td>
                                                            <td>충족</td>
                                                            <td rowspan="2">상법 제415조의 2 제2항</td>
                                                        </tr>
                                                        <tr>
                                                            <td>사외이사가 위원의 3분의 2이상</td>
                                                            <td>충족</td>
                                                        </tr>
                                                        <tr>
                                                            <td>위원 중 1명 이상은 회계 또는 재무전문가</td>
                                                            <td>충족</td>
                                                            <td rowspan="2">상법 제542조의11 제2항</td>
                                                        </tr>
                                                        <tr>
                                                            <td>감사위원회의 대표는 사외이사</td>
                                                            <td>충족</td>
                                                        </tr>
                                                        <tr>
                                                            <td>그 밖에 결격요건(최대주주의 특수관계자 등)</td>
                                                            <td>충족</td>
                                                            <td>상법 제542조의11 제3항</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="gov-table-group">
                                                <h5 class="sub-tit">감사위원회 구성 현황</h5>
                                                <table class="table-form gov-comm-table">
                                                    <thead>
                                                        <tr>
                                                            <th>구 분</th>
                                                            <th>성 명</th>
                                                            <th>선임 배경</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>감사위원(위원장)</td>
                                                            <td></td>
                                                            <td>회계 전문가</td>
                                                        </tr>
                                                        <tr>
                                                            <td>감사위원</td>
                                                            <td></td>
                                                            <td>회계 전문가</td>
                                                        </tr>
                                                        <tr>
                                                            <td>감사위원</td>
                                                            <td></td>
                                                            <td>회계 전문가</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="gov-table-group">
                                                <h5 class="sub-tit">소위원회 구성 현황</h5>
                                                <table class="table-form gov-comm-table">
                                                    <thead>
                                                        <tr>
                                                            <th>위원회 명칭</th>
                                                            <th>구 성</th>
                                                            <th>소속이사명</th>
                                                            <th>설치목적 및 권한사항</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>내부거래위원회</td>
                                                            <td>사외이사 3명</td>
                                                            <td></td>
                                                            <td>
                                                                경영투명성 및 독립성 강화 내부자 거래의 사전검토
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                사외이사후보 추천위원회 
                                                            </td>
                                                            <td>사외이사 3명</td>
                                                            <td></td>
                                                            <td>사외이사후보추천권</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="gov-table-group">
                                                <h5 class="sub-tit">위원회 개최내역</h5>
                                                <table class="table-form gov-comm-table">
                                                    <thead>
                                                        <tr>
                                                            <th>연 도</th>
                                                            <th>내부거래위원회</th>
                                                            <th>감사위원회</th>
                                                            <th>사외이사후보추천위원회</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>2025년</td>
                                                            <td>N회</td>
                                                            <td>N회</td>
                                                            <td>N회</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2024년</td>
                                                            <td>N회</td>
                                                            <td>N회</td>
                                                            <td>N회</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2023년</td>
                                                            <td>N회</td>
                                                            <td>N회</td>
                                                            <td>N회</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="gov-table-item" id="gov-comm-homesys">
                                            <div class="gov-table-group">
                                                <h5 class="sub-tit">감사위원회 선출기준</h5>
                                                <table class="table-form gov-comm-table">
                                                    <thead>
                                                        <tr>
                                                            <th>선출기준의 주요내용</th>
                                                            <th>선출기준의 충족여부</th>
                                                            <th>관련 법령 등</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>3명 이상의 이사로 구성</td>
                                                            <td>충족</td>
                                                            <td rowspan="2">상법 제415조의 2 제2항</td>
                                                        </tr>
                                                        <tr>
                                                            <td>사외이사가 위원의 3분의 2이상</td>
                                                            <td>충족</td>
                                                        </tr>
                                                        <tr>
                                                            <td>위원 중 1명 이상은 회계 또는 재무전문가</td>
                                                            <td>충족</td>
                                                            <td rowspan="2">상법 제542조의11 제2항</td>
                                                        </tr>
                                                        <tr>
                                                            <td>감사위원회의 대표는 사외이사</td>
                                                            <td>충족</td>
                                                        </tr>
                                                        <tr>
                                                            <td>그 밖에 결격요건(최대주주의 특수관계자 등)</td>
                                                            <td>충족</td>
                                                            <td>상법 제542조의11 제3항</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="gov-table-group">
                                                <h5 class="sub-tit">감사위원회 구성 현황</h5>
                                                <table class="table-form gov-comm-table">
                                                    <thead>
                                                        <tr>
                                                            <th>구 분</th>
                                                            <th>성 명</th>
                                                            <th>선임 배경</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>감사위원(위원장)</td>
                                                            <td></td>
                                                            <td>회계 전문가</td>
                                                        </tr>
                                                        <tr>
                                                            <td>감사위원</td>
                                                            <td></td>
                                                            <td>회계 전문가</td>
                                                        </tr>
                                                        <tr>
                                                            <td>감사위원</td>
                                                            <td></td>
                                                            <td>회계 전문가</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="gov-table-group">
                                                <h5 class="sub-tit">소위원회 구성 현황</h5>
                                                <table class="table-form gov-comm-table">
                                                    <thead>
                                                        <tr>
                                                            <th>위원회 명칭</th>
                                                            <th>구 성</th>
                                                            <th>소속이사명</th>
                                                            <th>설치목적 및 권한사항</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>내부거래위원회</td>
                                                            <td>사외이사 3명</td>
                                                            <td></td>
                                                            <td>
                                                                경영투명성 및 독립성 강화 내부자 거래의 사전검토
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                사외이사후보 추천위원회 
                                                            </td>
                                                            <td>사외이사 3명</td>
                                                            <td></td>
                                                            <td>사외이사후보추천권</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="gov-table-group">
                                                <h5 class="sub-tit">위원회 개최내역</h5>
                                                <table class="table-form gov-comm-table">
                                                    <thead>
                                                        <tr>
                                                            <th>연 도</th>
                                                            <th>내부거래위원회</th>
                                                            <th>감사위원회</th>
                                                            <th>사외이사후보추천위원회</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>2025년</td>
                                                            <td>N회</td>
                                                            <td>N회</td>
                                                            <td>N회</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2024년</td>
                                                            <td>N회</td>
                                                            <td>N회</td>
                                                            <td>N회</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2023년</td>
                                                            <td>N회</td>
                                                            <td>N회</td>
                                                            <td>N회</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
       
                <!-- bottom page -->
                <%- include('/layout/bottom-page.html', { showBottom: 'esg-governance' }) %>
                <!-- bottom page -->

            </div>


        </main>

        <!-- footer -->
        <%- include('/layout/footer.html') %>
        <!-- footer -->
    </body>


</html>