<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <title>CUCKOO - esg - 개요</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
         
    </head>
        

    <body>

        <!-- header -->
        <%- include('/layout/header.html') %>
        <!-- header -->

        <main id="container" class="container">

            <div class="about-intro">

                <!-- sub-tab -->
                <%- include('/layout/sub-tab.html', { showTab: 'esg-overview' }) %>
                <!-- sub-tab -->
                
                <section class="section section-overview">
                    <div class="inner">
                        <div class="esg-intro">
                            <div class="esg-item">
                                <div class="txt-wrap">
                                    <h1 class="tit-txt">
                                        Our Reponsibility,<br>
                                        Your Happiness,<br>
                                        Our Sustainability
                                    </h1>
                                    <h1 class="sub-tit">
                                        우리의 책임, 당신의 행복, 우리의 지속가능성
                                    </h1>
                                    <p class="txt">
                                        쿠쿠는 최고의 품질을 통해 고객 행복을 최우선으로 실현하며,
                                        이해관계자와의 신뢰와 책임을 기반으로 모두의 행복을 추구하는 지속가능 경영을 실천합니다.
                                    </p>
                                </div>
                            </div>
                            <div class="esg-item">
                                <div class="tit-area">
                                    <h4 class="tit-txt">지속가능경영 개요</h4>
                                </div>
                                <div class="esg-outline">
                                    <p class="txt">
                                        쿠쿠는 최고의 품질을 통한 '고객 행복'을 최우선 가치로 삼고, 임직원·협력사·지역사회 등 모든 이해관계자와의 신뢰를 기반으로 지속가능한 경영을 실천합니다. 
                                        우리 쿠쿠는 내, 외부 ESG 활동을 체계적으로 관리하고, 각 부서별 광범위하게 퍼져있는 <b>E S G</b>활동을 총괄하며 관리하고 있습니다.
                                    </p>
                                    <p class="txt">
                                        고객 여러분들께는 최고의 품질로, 환경에는 부담을 주지 않는 재활용으로, 이웃과 사회에는 환원으로, 이해관계자 여러분들께는 받은 사랑을 이웃과 사회에 환원하며
                                        상생의 가치를 실현하고, 우리 사회의 더 큰 가능성을 함께 열어가는 따뜻한 동반자가 되겠습니다. 품질에 대한 책임감이 사회적 책임으로 이어질 수 있도록,
                                        쿠쿠는 오늘도 나눔의 지평을 넓혀가고 있습니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section section-obs">
                    <div class="inner">
                        <div class="tit-area">
                            <h4 class="tit-txt">지속가능경영전략 추진 조직 체계</h4>
                            <p class="txt">
                                쿠쿠의 지속가능경영추진 조직은 ESG위원회의 리더쉽을 바탕으로 각 전담부서에서 환경, 사회, 지배구조 활동을 관리하며 추진하고 있습니다.
                            </p>
                        </div>
                        <div class="osb-img">
                            <img src="/cuckooWeb/images/esg-graphic.png">
                        </div>
                    </div>
                </section>
       
                <!-- bottom page -->
                <%- include('/layout/bottom-page.html', { showBottom: 'esg-overview' }) %>
                <!-- bottom page -->

            </div>


        </main>

        <!-- footer -->
        <%- include('/layout/footer.html') %>
        <!-- footer -->
    </body>


</html>