<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <title>CUCKOO - esg - 사회</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
         
    </head>
        

    <body>

        <!-- header -->
        <%- include('/layout/header.html') %>
        <!-- header -->

        <main id="container" class="container">

            <!-- sub-tab -->
            <%- include('/layout/sub-tab.html', { showTab: 'esg-social' }) %>
            <!-- sub-tab -->

            <div class="esg-social sub-page">

                <div class="tab-area social-tab-area">
                    <ul class="tab-track social-tab">
                        <li class="tab-item"><a href="/esg/social-safe.html">안전보건</a></li>
                        <li class="tab-item on"><a href="/esg/social-comm.html">지역사회</a></li>
                    </ul>
                </div>
                
                <section class="section section-esg">
                    <div class="inner">
                        <!-- 지역사회 -->
                        <div class="tit-area social-tit">
                            <h1>지역사회</h1>
                        </div>
                        <div class="social-part" id="social-part-3">
                            <div class="sub-tit social-tit">
                                <h2>사회공헌</h2>
                            </div>
                            <div class="social-content">
                                <div class="social-item">
                                    <h4 class="tit">쿠쿠, 정직하고 깨끗한 사랑을 실천합니다.</h4>
                                    <div class="txt-area">
                                        <p class="txt">
                                            "쿠쿠는 최고의 품질을 넘어, 모두가 함께 웃는 더 나은 세상을 만듭니다."
                                        </p>
                                        <p class="txt">
                                            쿠쿠는 내부 구성원의 열정과 고객의 사랑을 바탕으로 성장해 왔습니다. 우리는 나눔의 선순환을 통해 사회적 책임을 다하고, 이해관계자 모두가 함께 도약하는 미래를 향해 나아갑니다.
                                        </p>
                                        <p class="txt">
                                            단순한 기부를 넘어, 다양한 공헌 활동으로 고객과 이해관계자들의 사고를 전환시키도록 노력하며, 더 나은 사회로 다가갈 수 있도록 활동합니다.
                                        </p>
                                    </div>
                                    <ul class="social-donate-list">
                                        <li>
                                            <h5>임직원 & 협력사</h5>
                                            <p>존중과 신뢰를 바탕으로 한 동반성장</p>
                                        </li>
                                        <li>
                                            <h5>고객 & 이웃</h5>
                                            <p>일상의 행복을 지켜주는 따뜻한 나눔 활동</p>
                                        </li>
                                        <li>
                                            <h5>사회 & 환경</h5>
                                            <p>더 건강한 내일을 위한 책임 있는 환원</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="social-part" id="social-part-4">
                            <div class="sub-tit social-tit">
                                <h2>사회환원활동</h2>
                            </div>
                            <div class="social-content">
                                <div class="social-item">
                                    <p class="txt">
                                        쿠쿠는 소외된 이웃의 복지 증진과 삶의 질 향상 뿐만 아니라, 거시적으로 이해관계자들 전반에 걸친 삶의 질 향상에 기여하는 것을 지향점으로 삼고 있습니다. 단순한 나눔을 넘어 모든 이의 삶이 질적으로 풍요로워지는 세상을 꿈꿉니다. 
                                    </p>
                                    <ul clas="social-active-list">
                                        <li>
                                            <span class="sub">사랑나눔캠페인</span>
                                            <p>
                                                소외계층과 지역사회에 사랑이 필요한 곳에 여성, 장애인, 결식아동 등을 지원하는 다양한 지원프로그램을 운영합니다.
                                            </p>
                                        </li>
                                        <li>
                                            <span class="sub">쿠쿠 레인보우</span>
                                            <p>
                                                다문화 이주민의 자녀들이 자랑스러운 한국인으로 자립하고 다민족 다문화 사회를 이해하는 성숙한 성인으로 자라나 우리나라의 미래를 짊어지고 세계를 움직이는 인재로 성장하기를 바라며 다문화교육지원 프로그램을 운영합니다.
                                            </p>
                                        </li>
                                        <li>
                                            <span class="sub">사회복지시설지원</span>
                                            <p>
                                                지역복지발전을 위해 노력하는 사회복지시설 지원하여 지역사회의 행복에 공헌하고자 합니다.
                                            </p>
                                        </li>
                                        <li>
                                            <span class="sub">소외계층지원</span>
                                            <p>
                                                저소득지원, 긴급구호, 결식아동 지원 등 지역의 소외계층을 찾아가 실질적으로 도움이 될 수 있는 사업을 실시하고 있습니다.
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="social-part" id="social-part-5">
                            <div class="sub-tit social-tit">
                                <h2>복지재단 활동</h2>
                            </div>
                            <div class="social-content">
                                <div class="social-item">
                                    <div class="board-form-area">
                                        <ul class="welfare-board-form" id="welfare-activity">
                                            <li>
                                                <a href="#">
                                                    <em class="source">ZDnet KOREA</em>
                                                    <div class="subtit">쿠쿠, 산불피해 주민에 밥솥 950여대 지원</div>
                                                    <span class="date">2026-03-25</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <em class="source">매일경제</em>
                                                    <div class="subtit">쿠쿠, 산불피해주민에 밥솥 950여대 지원</div>
                                                    <span class="date">2026-03-25</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <em class="source">뉴스1</em>
                                                    <div class="subtit">쿠쿠, 경남 양산에 1억 4500만 원 상당 공기청정기 기부</div>
                                                    <span class="date">2026-03-24</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <em class="source">파이낼셜뉴스</em>
                                                    <div class="subtit">쿠쿠, 양산시 취약계층 지원.. 공기청정기 300대 전달</div>
                                                    <span class="date">2026-03-25</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <em class="source">ZDnet KOREA</em>
                                                    <div class="subtit">쿠쿠, 산불피해 주민에 밥솥 950여대 지원</div>
                                                    <span class="date">2026-03-25</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <em class="source">매일경제</em>
                                                    <div class="subtit">쿠쿠, 산불피해주민에 밥솥 950여대 지원</div>
                                                    <span class="date">2026-03-25</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <em class="source">뉴스1</em>
                                                    <div class="subtit">쿠쿠, 경남 양산에 1억 4500만 원 상당 공기청정기 기부</div>
                                                    <span class="date">2026-03-24</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <em class="source">파이낼셜뉴스</em>
                                                    <div class="subtit">쿠쿠, 양산시 취약계층 지원.. 공기청정기 300대 전달</div>
                                                    <span class="date">2026-03-25</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <em class="source">뉴스1</em>
                                                    <div class="subtit">쿠쿠, 경남 양산에 1억 4500만 원 상당 공기청정기 기부</div>
                                                    <span class="date">2026-03-24</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <em class="source">파이낼셜뉴스</em>
                                                    <div class="subtit">쿠쿠, 양산시 취약계층 지원.. 공기청정기 300대 전달</div>
                                                    <span class="date">2026-03-25</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
       
                <!-- bottom page -->
                <%- include('/layout/bottom-page.html', { showBottom: 'esg-social' }) %>
                <!-- bottom page -->

            </div>


        </main>

        <!-- footer -->
        <%- include('/layout/footer.html') %>
        <!-- footer -->
    </body>


</html>