
<!-- LNB -->

<div class="lnb-area">
    <ul class="lnb-list">
        <li class="lnb-item-1" data-menu="about">
            <ul class="lnb-list-group">
                <li><a href="/about/intro.html">소개</a></li>
                <li><a href="/about/history.html">연혁</a></li>
                <li><a href="/about/associate-kr.html">한국본사 소개</a></li>
                <li><a href="/about/associate-overseas.html">해외 자회사 소개</a></li>
            </ul>
        </li>
        <li class="lnb-item-2" data-menu="investor">
            <ul class="lnb-list-group">
                <li><a href="/investor/finance-stock.html">주가·재무정보</a></li>
                <li><a href="/investor/disc-drt.html">공시정보</a></li>
                <li><a href="/investor/stockholder-info.html">주주정보</a></li>
                <li><a href="/investor/archive-report.html">IR 자료실</a></li>
            </ul>
        </li>
        <li class="lnb-item-3" data-menu="esg">
            <ul class="lnb-list-group">
                <li><a href="/esg/overview.html">개요</a></li>
                <li><a href="/esg/envi-mgmt.html">환경</a></li>
                <li><a href="/esg/social-safe.html">사회</a></li>
                <li><a href="/esg/gov-dir.html">지배구조</a></li>
            </ul>
        </li>
        <li class="lnb-item-4" data-menu="ethic">
            <ul class="lnb-list-group">
                <li><a href="/ethic/system.html">윤리경영체계</a></li>
                <li><a href="/ethic/activity.html">윤리경영활동</a></li>
            </ul>
        </li>
    </ul>

</div>
