

<!-- IR 미팅신청 완료폼 -->

<div class="request-confirm-area">
    <div class="request-confirm">
        <div class="request-confirm-content">
            <div class="request-confirm-wrap">
                <h3>
                    <span>
                        <svg class="icon-24px">
                            <use xlink:href="/static/images/sprite.svg#check"></use>
                        </svg>
                    </span>
                    미팅 신청이 완료되었습니다.
                </h3>
                <h5>
                    빠른 시일 내에 담당자가 미팅 일정을 확정드릴 예정입니다.
                </h5>
                <ul class="request-date">
                    <li>
                        <b>일시</b>
                        <p>2026년 10월 23일 (금) 11:00 - 11: 50</p>
                    </li>
                    <!--
                        예시) 추후에 추가할때 활용
                    <li>
                        <b>회사명</b>
                        <p>cuckoo(예시)</p>
                    </li> 
                    
                    -->
                    <li>
                        <b>미팅방식</b>
                        <p>화상미팅</p>
                    </li>
                </ul>
            </div>
            <div class="request-confirm-btn">
                <a class="btn b-btn">완료</a>
            </div>
        </div>

    </div>

</div>

