@charset "utf-8";


/* ----------------------------------------------------------

    INDEX

-------------------------------------------------------------*/


/* index common */

.main > section .txt-wrap {
    align-self:center;
}

.main > section .txt-wrap {
    display:flex;
    flex-direction: column;
}

.main > section .txt-wrap .loca {
    font-weight: 700;
    color:var(--color-gry-5);
    margin-bottom:80px;
}

.main > section .txt-wrap .section-txt {
    font-size:var(--font-xx-lg);
    margin-bottom:40px;
}

/* hero section */

.hero-area .inner {
    position:relative;
    width:100vw;
    height:100vh;
}

.hero-track .hero-item {
    position:relative;
    width:100%;
    height:100vh;
}

.hero-track .hero-item .img {
    display:flex;
    width:100%;
    height:100vh;
    justify-content: center;
    align-items: center;
}

.hero-track .hero-item .img > img {
    display:block;
    width:100%;
    height:100%;
}

.hero-track .hero-item:before {
    content:"";
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.3);
}

.hero-track .hero-item .hero-txt {
    position:absolute;
    display:flex;
    flex-direction: column;
    width:1440px;
    left:50%;
    bottom:200px;
    color:var(--color-wht);
    transform:translateX(-50%);
    text-shadow:0px 0px 5px rgba(0,0,0,0.15);
}

.hero-track .hero-item .hero-txt .sub-txt {
    font-weight: 600;
    margin-bottom:20px;
}

.hero-track .hero-item .hero-txt .tit-txt {
    font-weight: 700;
    margin-bottom:10px;  
}

.hero-navigation {
    display:flex;
    position:absolute;
    flex-wrap: wrap;
    width:1440px;
    left:50%;
    bottom:100px;
    transform:translateX(-50%);
    z-index:1;
}

.hero-navigation .progress-bar {
    width:100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to right, #fff, #fff);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
}

.hero-navigation .page-number {
    position:relative;
    width:50px;
    display:flex;
    color:var(--color-wht);
    margin-right:auto;
    flex-shrink: 0;
    align-items:center;
    margin-top:10px;
}

.page-number .slick-dots {
    top:0px;
    left:0px;
}

.hero-navigation .navigation-button {
    display:flex;
    gap:10px;
    align-items:center;
    margin-left:auto;
    margin-top:20px;
}

.hero-navigation .navigation-button .navi-btn {
    width:32px;
    height:32px;
}


/* about section */


section.about-area {
    background:var(--color-gry-0);
    position:relative;
    display:flex;
    width:100vw;
    height:100vh;
    align-items:center;
}

section.about-area .inner {
    width:1440px;
    margin: auto;
}

section.about-area .inner .about-section {
    display:flex;
    width:100%;
    justify-content: space-between;
}

section.about-area .inner .about-section .about-img {
    position:relative;
    width:700px;
    border-radius:16px;
    overflow:hidden;
    z-index:1;
}

section.about-area .inner .about-section .about-section-bg {
    position:absolute;
    right:0px;
    top:0px;
    width:700px;
    height:100%;
    overflow:hidden;
}

section.about-area .inner .about-section .about-section-bg:after {
    display:block;
    content:"";
    width:100%;
    height:100%;
    background:url(/cuckooWeb/images/about-bg.jpg) top right no-repeat;
    background-size:auto 100%;
    filter: blur(5px);
    transform: scale(1.1);
    opacity:0.6;
}


/* Investor section */

.investor-area {
    display:flex;
    background:url(/cuckooWeb/images/invest-bg.jpg) center center no-repeat;
    background-size:cover;
    width:100vw;
    height:100vh;
    color:var(--color-wht);
    align-items:center;
}

.investor-area .inner {
    width:1440px;
    margin: 0 auto;
}

.investor-area .inner .invertor-section {
    display:flex;
    width:100%;
}

.invertor-section .investor-link {
    width:340px;
    margin-top:120px;
}

.invertor-section .investor-link li {
    border-bottom:1px solid var(--color-wht);
}

.invertor-section .investor-link li a {
    display:flex;
    font-size:var(--font-xx-lg);
    justify-content: space-between;
    align-items:center;
    padding:10px 0px;
}

.invertor-section .investor-link li a .circle-btn {
    width:40px;
    height:40px;
}

.invertor-section .investor-stock-track {
    background:var(--color-wht);
    color:var(--color-blk);
    width:700px;
    border-radius: 16px;
    margin-left:auto;
    margin-top:auto;
    padding:30px;
    overflow:hidden;
}

.invertor-section .investor-item {
    width:100%;
}

.invertor-section .investor-item .investor-head {
    display:flex;
    gap:10px;
    padding-top:10px;
    align-items:center;
}

.invertor-section .investor-item .investor-head .investor-num {
    font-weight: 700;
    color:var(--color-gry-4);
}

.invertor-section .investor-item .investor-head .investor-date {
    font-size:var(--font-sm);
    color:var(--color-gry-5);
    margin-left:auto;
}

.invertor-section .investor-item .investor-graph {
    width:100%;
    height:340px;
}

/* ESG section */

.esg-area {
    position:relative;
    background:url(/cuckooWeb/images/esg-bg.jpg) center center no-repeat;
    background-size:cover;
    width:100vw;
    height:100%;
    color:var(--color-wht);
}

.esg-area:before {
    position:absolute;
    content:"";
    display:block;
    background:rgba(0,0,0,0.3);
    width:100%;
    height:100%;
    left:0px;
    top:0px;
}

.esg-area .inner {
    position:relative;
    width:1440px;
    margin:0 auto;
    padding:260px 0px;
    z-index:1;
}

.esg-area .inner .esg-section {
    display:flex;
    width:100%;
    justify-content: space-between;
}

.esg-area .inner .esg-section .txt-wrap {
    margin-top:200px;
    align-self: auto;
}

.esg-area .inner .esg-section .esg-item-group {
    width:800px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: flex-end;
    transition-duration: 1.5s;
}

/* .esg-section .esg-item-group:before {
    order:1;
    content:"";
    margin-top: 60px;
    margin-left: 60px;
    width:340px;
    height:100px;
} */

.esg-section .esg-item-group:after {
    content:"";
    margin-left: 120px;
    width:340px;
    height:100px;
}

.esg-section .esg-item-group li {
    position:relative;
    width:340px;
    height: 460px;
    background:var(--color-wht);
    color:var(--color-blk);
    padding:30px;
    border-radius: 16px;
    border:1px solid var(--color-wht);
    box-sizing:border-box;
    flex-shrink: 0;
    box-shadow:0px 0px 14px rgba(0,0,0,0.3);
    transition: all 0.4s;
}

.esg-section .esg-item-group li:hover {
    backdrop-filter: blur(30px);
    background:rgba(255,255,255,0.6);
    color:var(--color-wht);
    box-shadow:0px 0px 14px rgba(255,255,255,0.3);
    border:1px solid var(--color-gry-0)
}


.esg-section .esg-item-group .esg-item-1 {
    align-self: flex-start;
}

.esg-section .esg-item-group .esg-item-2 {
    margin-top: 230px;
    margin-left: 120px;
}

.esg-section .esg-item-group .esg-item-3 {
    align-self: flex-start;
    margin-top: -115px;
}

.esg-section .esg-item-group li a {
    position:relative;
    display:flex;
    height:100%;
    flex-direction: column;
    justify-content: space-between;
}

.esg-section .esg-item-group li a .esg-num {
    font-weight: 800;
    color:var(--color-red);
    margin-bottom:auto;
}

.esg-section .esg-item-group li:hover a .esg-num {
    color:var(--color-wht);
}

.esg-section .esg-item-group li a .esg-tit {
    font-weight: 900;
    margin-bottom:10px;
}

.esg-section .esg-item-group li a .esg-txt {
    font-size:var(--font-sm);
    margin-bottom:10px;
}



/* ----------------------------------------------------------

    회사소개 - 소개

-------------------------------------------------------------*/


.section-vision .vision-head {
    padding:120px 0px;
}

.section-vision .vision-head .sub-tit h2 {
    color:var(--color-gry-2);
    text-align:center;
    font-weight: 900;
}

.vision-head .content {
    display:flex;
    flex-direction: column;
    gap:40px;
    text-align:center;
    margin:20px 0px;
}

.vision-head .content .quote {
    display:flex;
    align-self:center;
    gap: 10px;
    justify-self: center;
}
.vision-head .content .quote:before {
    content:"“"
}

.vision-head .content .quote:after {
    content:"”"
}

.vision-head .content .txt {
    font-size:var(--font-lg);
}

.section-seek .inner {
    padding:120px 0;
}

.seek-item-list {
    display:flex;
    flex-direction: column;
    gap:100px;
}

.seek-item-list .seek-item {
    display:flex;
    gap:80px;
}

.seek-item-list .seek-item .img {
    width:700px;
    height:460px;
    border-radius: 100px;
    overflow:hidden;
}

.seek-item-list .seek-item .img > img {
    display: block;
    width:100%;
    height:100%;
}

.seek-item-list .seek-item .txt-wrap {
    display:flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
}

.seek-item-list .seek-item .txt-wrap .tit-txt {
    color:var(--color-gry-2);
}

.seek-item-list .seek-item .txt-wrap .txt {
    font-size:var(--font-lg);
}


/* ----------------------------------------------------------

    회사소개 - 연혁

-------------------------------------------------------------*/

section.section-history .inner {
    display: flex;
    flex-direction: column;
    position:relative;
    width:100vw;
    height:100vh;
    overflow-y:hidden;
}


.history-tab-area {
    padding:180px 0px 80px;
}

.history-area {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    flex-grow: 1; 
    height: auto;
}

.history-track {
    position:absolute;
    left:0px;
    top:0px;
    width:auto;
    display: flex;
    gap:60px;
    padding-right:80px;
}

.history-content {
    display:flex;
    gap:60px;
}

.history-item {
    display:flex;
    flex-direction: column;
    gap: 160px
}

.history-date {
    display:flex;
}

.history-date > p {
    width:150px;
    font-size:var(--font-xxx-lg);
    font-weight: 800;
}

.history-date:after {
    display:block;
    content:"";
    width:calc(100% - 160px);
    height:1px;
    top:20px;
    background:var(--color-gry-4);
    align-self:center;
}

.history-data-list {
    position:relative;
    display:flex;
    width:auto;
    gap:40px;
    padding:40px 0px;
}

.history-data-list li {
    display:flex;
    flex-direction: column;
    width:280px;
    flex-shrink: 0;
    gap:10px;
}

.history-data-list li .date {
    font-weight: 700;
    font-size:var(--font-md);
}

.history-pager {
    display:flex;
    position:absolute;
    left:50%;
    bottom:80px;
    gap:40px;
    transform:translateX(-50%);
    z-index:1;
}

.history-pager li a {
    font-size:var(--font-sm);
    display:flex;
    flex-direction: column;
    color:var(--color-gry-4);
    gap:20px;
    align-items: center;
    transition: all 0.4s;
}

.history-pager li.on a {
    color:var(--color-blk);
    font-weight: 800;
}

.history-pager li a .dot {
    background:var(--color-gry-4);
    width:10px;
    height:10px;
    border-radius: 50%;
}

.history-pager li.on a .dot {
    background:var(--color-blk);
}


/* ----------------------------------------------------------

    회사소개 - 한국 본사 소개 & 해외 자회사 근황

-------------------------------------------------------------*/

.section-associate .inner {
    padding:100px 0px;
}

section.section-banner .inner {
    width:100%;
    height:600px;
}


.associate-china-area, .associate-usa-area,
.associate-mal-area, .associate-india-area,
.associate-sing-area {
    margin-bottom:60px;
}

.associate-list {
    border-top:2px solid var(--color-blk);
}

.associate-list > li {
    display:flex;
    justify-content: space-between;
    padding:40px 0px;
    border-bottom:1px solid var(--color-gry-4);
}

.associate-list > li .associate-info {
    display:flex;
    flex-direction: column;
    width:400px;
    flex-shrink: 0;
}

.associate-list > li .associate-info .tit {
    margin-bottom:5px;
}

.associate-list > li .associate-info .eng {
    color:var(--color-gry-4);
    margin-bottom:20px;
}

.associate-list > li .associate-content {
    display:flex;
    flex-direction: column;
    width:860px;
    flex-shrink: 0;
    gap:20px;
}

.associate-list .company-info {
    display:flex;
    flex-direction: column;
    gap:10px;
}

.associate-list .company-info li {
    display:flex;
    gap:40px;
}

.associate-list .company-info li:before {
    width:80px;
    display:block;
    color: var(--color-gry-4);
}

.associate-list .company-info li.date:before {
    content:"설립일";
}

.associate-list .company-info li.type:before {
    content:"품목/사업";
}

.associate-list .company-info li.address:before {
    content:"주소";
}

.associate-list .company-info li.url:before {
    content:"홈페이지";
}




/* ----------------------------------------------------------

    투자정보 - 주가·재무정보

-------------------------------------------------------------*/
