<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <title>CUCKOO - investor - 전자공시</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
         
    </head>
        

    <body>

        <!-- header -->
        <%- include('/layout/header.html') %>
        <!-- header -->

        <main id="container" class="container">

            <div class="investor-disc sub-page">

                <!-- sub-tab -->
                <%- include('/layout/sub-tab.html', { showTab: 'investor-disc' }) %>
                <!-- sub-tab -->

                <div class="tab-area disc-tab-area">
                    <ul class="tab-track disc-tab">
                        <li class="tab-item on"><a href="/investor/disc-drt.html">전자공시</a></li>
                        <li class="tab-item"><a href="/investor/disc-notice.html">전자공고</a></li>
                    </ul>
                </div>
                
                <section class="section section-disc">
                    <div class="inner">
                        <div class="tit-area disc-tit">
                            <h1>전자공시</h1>
                        </div>
                        <ul class="tab-group disc">
                            <li class="on" data-tab="drt-cuckooHoldings"><a>쿠쿠홀딩스</a></li>
                            <li data-tab="drt-cuckooHomesys"><a>쿠쿠홈시스</a></li>
                        </ul>
                        <div class="disc-drt-tab tab">
                            <!-- 쿠쿠홀딩스 -->
                            <div class="drt-item drt-cuckooHoldings items" id="drt-cuckooHoldings">
                                <div class="board-form-area">
                                    <ul class="drt-board-form board-form" id="drt-holdings">
                                        <li>
                                            <a href="#">
                                                <div class="subtit">기업가치제고계획(자율공시)</div>
                                                <span class="date">2026-03-25</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="subtit">사외이사 선임·해임 또는 중도퇴임에 관한 신고</div>
                                                <span class="date">2026-03-25</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="subtit">정기주주총회결과</div>
                                                <span class="date">2026-03-24</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="subtit">감사보고서제출 (자회사의 주요경영사항)</div>
                                                <span class="date">2026-03-25</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="subtit">사업보고서 (2025. 12)</div>
                                                <span class="date">2026-03-25</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="subtit">감사보고서제출</div>
                                                <span class="date">2026-03-25</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="subtit">현금·현물배당결정</div>
                                                <span class="date">2026-03-25</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="subtit">주주총회소집공고</div>
                                                <span class="date">2026-03-25</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="subtit">주주총회소집결의</div>
                                                <span class="date">2026-03-25</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="subtit">현금·현물배당결정</div>
                                                <span class="date">2026-03-25</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="drt-board-paging board-paging">
                                        <a class="circle-btn drt-holdings-prev">
                                            <svg class="icon-18px">
                                                <use xlink:href="/cuckooWeb/images/sprite.svg#prev"/>
                                            </svg>
                                        </a>
                                        <ul class="drt-paging paging-num" id="drt-holdings-pager">
                                            <li class="on"><a>1</a></li>
                                            <li><a>2</a></li>
                                            <li><a>3</a></li>
                                        </ul>
                                        <a class="circle-btn drt-holdings-next">
                                            <svg class="icon-18px">
                                                <use xlink:href="/cuckooWeb/images/sprite.svg#next"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- 쿠쿠홈시스 -->
                            <div class="drt-item drt-cuckooHomesys items" id="drt-cuckooHomesys">
                                <div class="borard-form-area">
                                    <ul class="drt-board-form board-form" id="drt-homesys">
                                        <li>
                                            <a href="#">
                                                <div class="subtit">기업가치제고계획(자율공시)</div>
                                                <span class="date">2026-03-25</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="subtit">사외이사 선임·해임 또는 중도퇴임에 관한 신고</div>
                                                <span class="date">2026-03-25</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="subtit">정기주주총회결과</div>
                                                <span class="date">2026-03-24</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="subtit">감사보고서제출 (자회사의 주요경영사항)</div>
                                                <span class="date">2026-03-25</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="subtit">사업보고서 (2025. 12)</div>
                                                <span class="date">2026-03-25</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="subtit">감사보고서제출</div>
                                                <span class="date">2026-03-25</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="subtit">현금·현물배당결정</div>
                                                <span class="date">2026-03-25</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="subtit">주주총회소집공고</div>
                                                <span class="date">2026-03-25</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="subtit">주주총회소집결의</div>
                                                <span class="date">2026-03-25</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="subtit">현금·현물배당결정</div>
                                                <span class="date">2026-03-25</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="drt-board-paging board-paging">
                                        <a class="circle-btn drt-homesys-prev">
                                            <svg class="icon-18px">
                                                <use xlink:href="/cuckooWeb/images/sprite.svg#prev"/>
                                            </svg>
                                        </a>
                                        <ul class="drt-paging paging-num" id="drt-homesys-pager">
                                            <li><a>1</a></li>
                                            <li><a>2</a></li>
                                            <li><a>3</a></li>
                                        </ul>
                                        <a class="circle-btn drt-homesys-next">
                                            <svg class="icon-18px">
                                                <use xlink:href="/cuckooWeb/images/sprite.svg#next"/>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
       
                <!-- bottom page -->
                <%- include('/layout/bottom-page.html', { showBottom: 'investor-disc' }) %>
                <!-- bottom page -->

            </div>


        </main>

        <!-- footer -->
        <%- include('/layout/footer.html') %>
        <!-- footer -->
    </body>


</html>