<!DOCTYPE html>
<html lang="ko">

    <head>
        <meta charset="utf-8">
        <title>CUCKOO - investor - 재무지표</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
         
    </head>
        

    <body>

        <!-- header -->
        <%- include('/layout/header.html') %>
        <!-- header -->

        <main id="container" class="container">

            <div class="investor-finance sub-page">

                <!-- sub-tab -->
                <%- include('/layout/sub-tab.html', { showTab: 'investor-finance' }) %>
                <!-- sub-tab -->

                <div class="tab-area finance-tab-area">
                    <ul class="tab-track finance-tab">
                        <li class="tab-item"><a href="/investor/finance-stock.html">실시간 주가정보</a></li>
                        <li class="tab-item"><a href="/investor/finance-statement.html">재무제표</a></li>
                        <li class="tab-item on"><a href="/investor/finance-indicator.html">재무지표</a></li>
                    </ul>
                </div>
                
                <section class="section section-finance">
                    <div class="inner">
                        <div class="tit-area finance-tit">
                            <h1>재무지표</h1>
                        </div>
                        <ul class="tab-group finance">
                            <li class="on" data-tab="indicator-cuckooHoldings"><a>쿠쿠홀딩스</a></li>
                            <li data-tab="indicator-cuckooHomesys"><a>쿠쿠홈시스</a></li>
                        </ul>
                        <div class="finance-indicator-tab tab">
                            <!-- 쿠쿠 홀딩스 -->
                            <div class="indicator-item indicator-cuckooHoldings items" id="indicator-cuckooHoldings">
                                <div class="table-group-1">
                                    <div class="sub-tit table-tit">
                                        <h2>수익성지표</h2>
                                        <p>기업이 얼마나 효율적으로 이익을 내고 있는지를 나타냅니다.</p>
                                        <span>단위: %</span>
                                    </div>
                                    <table class="table-form indicator-table-1">
                                        <thead>
                                            <tr>
                                                <th>구분</th>
                                                <th>2025년(49기)</th>
                                                <th>2024년(48기)</th>
                                                <th>2023년(47기)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th><b>매출총이익률</b></th>
                                                <td>39.6</td>
                                                <td>39.6</td>
                                                <td>37.6</td>
                                            </tr>
                                            <tr>
                                                <th><b>영업이익률</b></th>
                                                <td>12.4</td>
                                                <td>12.4</td>
                                                <td>11.2</td>
                                            </tr>
                                            <tr>
                                                <th><b>순이익률</b></th>
                                                <td>15.8</td>
                                                <td>16.4</td>
                                                <td>16.8</td>
                                            </tr>
                                            <tr>
                                                <th><b>총자산영업이익률</b></th>
                                                <td>7.8</td>
                                                <td>7.9</td>
                                                <td>7.2</td>
                                            </tr>
                                            <tr>
                                                <th><b>총자산순이익률</b></th>
                                                <td>9.9</td>
                                                <td>10.5</td>
                                                <td>10.9</td>
                                            </tr>
                                            <tr>
                                                <th><b>자기자본순이익률</b></th>
                                                <td>11.7</td>
                                                <td>12.1</td>
                                                <td>12.6</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="table-group-2">
                                    <div class="sub-tit table-tit">
                                        <h2>안정성지표</h2>
                                        <p>기업의 재무적 위험과 지불 능력을 나타냅니다.</p>
                                        <span>단위: %</span>
                                    </div>
                                    <table class="table-form indicator-table-2">
                                        <thead>
                                            <tr>
                                                <th>구분</th>
                                                <th>2025년(49기)</th>
                                                <th>2024년(48기)</th>
                                                <th>2023년(47기)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th><b>유동비율</b></th>
                                                <td>599.1</td>
                                                <td>466.8</td>
                                                <td>430.5</td>
                                            </tr>
                                            <tr>
                                                <th><b>부채비율</b></th>
                                                <td>20.5</td>
                                                <td>14.5</td>
                                                <td>15.8</td>
                                            </tr>
                                            <tr>
                                                <th><b>차입금의존도</b></th>
                                                <td>0.0</td>
                                                <td>0.0</td>
                                                <td>0.0</td>
                                            </tr>
                                            <tr>
                                                <th><b>자기자본비율</b></th>
                                                <td>83.0</td>
                                                <td>87.3</td>
                                                <td>86.3</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <span class="txt">
                                        ※ 차입금의존도의 산출시 차입금은 장·단기 차입금 합계액을 기준으로 하였습니다.
                                    </span>
                                </div>
                                <div class="table-group-3">
                                    <div class="sub-tit table-tit">
                                        <h2>성장성지표</h2>
                                        <p>전년 대비 기업의 규모나 경영 성과가 얼마나 커졌는지 나타냅니다.</p>
                                        <span>단위: %</span>
                                    </div>
                                    <table class="table-form indicator-table-3">
                                        <thead>
                                            <tr>
                                                <th>구분</th>
                                                <th>2025년(49기)</th>
                                                <th>2024년(48기)</th>
                                                <th>2023년(47기)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th><b>총자산증가율</b></th>
                                                <td>16.3</td>
                                                <td>9.8</td>
                                                <td>8.6</td>
                                            </tr>
                                            <tr>
                                                <th><b>매출액증가율</b></th>
                                                <td>10.4</td>
                                                <td>8.0</td>
                                                <td>2.2</td>
                                            </tr>
                                            <tr>
                                                <th><b>영업이익증가율</b></th>
                                                <td>10.4</td>
                                                <td>19.2</td>
                                                <td>-1.4</td>
                                            </tr>
                                            <tr>
                                                <th><b>순이익증가율</b></th>
                                                <td>6.0</td>
                                                <td>5.3</td>
                                                <td>11.5</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- 쿠쿠 홈시스 -->
                            <div class="indicator-item indicator-cuckooHomesys items" id="indicator-cuckooHomesys">
                                <div class="table-group-1">
                                    <div class="sub-tit table-tit">
                                        <h2>수익성지표</h2>
                                        <p>기업이 얼마나 효율적으로 이익을 내고 있는지를 나타냅니다.</p>
                                        <span>단위: %</span>
                                    </div>
                                    <table class="table-form indicator-table-1">
                                        <thead>
                                            <tr>
                                                <th>구분</th>
                                                <th>2025년(9기)</th>
                                                <th>2024년(8기)</th>
                                                <th>2023년(7기)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th><b>매출총이익률</b></th>
                                                <td>64.0</td>
                                                <td>63.2</td>
                                                <td>62.6</td>
                                            </tr>
                                            <tr>
                                                <th><b>영업이익률</b></th>
                                                <td>15.1</td>
                                                <td>16.1</td>
                                                <td>16.6</td>
                                            </tr>
                                            <tr>
                                                <th><b>순이익률</b></th>
                                                <td>12.0</td>
                                                <td>13.2</td>
                                                <td>13.8</td>
                                            </tr>
                                            <tr>
                                                <th><b>총자산영업이익률</b></th>
                                                <td>11.4</td>
                                                <td>13.3</td>
                                                <td>14.6</td>
                                            </tr>
                                            <tr>
                                                <th><b>총자산순이익률</b></th>
                                                <td>9.0</td>
                                                <td>10.9</td>
                                                <td>12.1</td>
                                            </tr>
                                            <tr>
                                                <th><b>자기자본순이익률</b></th>
                                                <td>11.6</td>
                                                <td>14.2</td>
                                                <td>15.3</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="table-group-2">
                                    <div class="sub-tit table-tit">
                                        <h2>안정성지표</h2>
                                        <p>기업의 재무적 위험과 지불 능력을 나타냅니다.</p>
                                        <span>단위: %</span>
                                    </div>
                                    <table class="table-form indicator-table-2">
                                        <thead>
                                          <tr>
                                            <th>구분</th>
                                            <th>2025 (9기)</th>
                                            <th>2024 (8기)</th>
                                            <th>2023 (7기)</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th><b>유동비율</b></th>
                                            <td>236.3%</td>
                                            <td>213.5%</td>
                                            <td>210.0%</td>
                                          </tr>
                                          <tr>
                                            <th><b>부채비율</b></th>
                                            <td>24.8%</td>
                                            <td>31.6%</td>
                                            <td>26.3%</td>
                                          </tr>
                                          <tr>
                                            <th><b>차입금의존도</b></th>
                                            <td>1.2%</td>
                                            <td>3.5%</td>
                                            <td>0.1%</td>
                                          </tr>
                                          <tr>
                                            <th><b>자기자본비율</b></th>
                                            <td>80.1%</td>
                                            <td>76.0%</td>
                                            <td>79.2%</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <span class="txt">
                                            ※ 차입금의존도의 산출시 차입금은 장·단기 차입금 합계액을 기준으로 하였습니다.
                                      </span>
                                </div>
                                <div class="table-group-3">
                                    <div class="sub-tit table-tit">
                                        <h2>성장성지표</h2>
                                        <p>전년 대비 기업의 규모나 경영 성과가 얼마나 커졌는지 나타냅니다.</p>
                                        <span>단위: %</span>
                                    </div>
                                    <table class="table-form indicator-table-3">
                                        <thead>
                                          <tr>
                                            <th>구분</th>
                                            <th>2025 (9기)</th>
                                            <th>2024 (8기)</th>
                                            <th>2023 (7기)</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th><b>매출액증가율</b></th>
                                            <td>6.1%</td>
                                            <td>10.8%</td>
                                            <td>1.8%</td>
                                          </tr>
                                          <tr>
                                            <th><b>영업이익증가율</b></th>
                                            <td>-0.4%</td>
                                            <td>7.1%</td>
                                            <td>32.3%</td>
                                          </tr>
                                          <tr>
                                            <th><b>순이익증가율</b></th>
                                            <td>-4.0%</td>
                                            <td>6.2%</td>
                                            <td>15.0%</td>
                                          </tr>
                                          <tr>
                                            <th><b>총자산증가율</b></th>
                                            <td>13.2%</td>
                                            <td>21.5%</td>
                                            <td>12.9%</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
       
                <!-- bottom page -->
                <%- include('/layout/bottom-page.html', { showBottom: 'investor-finance' }) %>
                <!-- bottom page -->

            </div>


        </main>

        <!-- footer -->
        <%- include('/layout/footer.html') %>
        <!-- footer -->
    </body>


</html>