
<!-- footer -->

<footer id="footer" class="footer">

    <div class="fnb-area">
        <div class="fnb-top">
            <ul class="fnb-list">
                <li class="fnb-item-1">
                    <b><a>회사 소개</a></b>
                    <ul class="fnb-list-group">
                        <li><a href="/about/intro.html">소개</a></li>
                        <li><a href="/about/history.html">연혁</a></li>
                        <li><a href="/about/associate-kr.html">한국본사 소개</a></li>
                        <li><a href="/about/associate-overseas.html">해외 자회사 근황</a></li>
                    </ul>
                </li>
                <li class="fnb-item-2">
                    <b><a>투자 정보</a></b>
                    <ul class="fnb-list-group">
                        <li><a heaf="/investor/finance-stock.html">주가·재무정보</a></li>
                        <li><a heaf="/investor/disc-drt.html">공시정보</a></li>
                        <li><a heaf="/investor/stockholder-info.html">주주정보</a></li>
                        <li><a heaf="/investor/archive-report.html">IR 자료실</a></li>
                    </ul>
                </li>
                <li class="fnb-item-3">
                    <b><a>지속가능경영</a></b>
                    <ul class="fnb-list-group">
                        <li><a href="/esg/overview.html">개요</a></li>
                        <li><a href="/esg/envi-mgmt.html">환경</a></li>
                        <li><a href="/esg/social-safe.html">사회</a></li>
                        <li><a href="/esg/gov-dir.html">지배구조</a></li>
                    </ul>
                </li>
                <li class="fnb-item-4">
                    <b><a>윤리경영</a></b>
                    <ul class="fnb-list-group">
                        <li><a href="/ethic/system.html">윤리경영체계</a></li>
                        <li><a href="/ethic/activity.html">윤리경영활동</a></li>
                    </ul>
                </li>
                <li>
                    <a href="https://www.cuckoo.co.kr/" target="_blank">
                        <b>쿠쿠몰</b>
                        <svg class="icon-18px">
                            <use xlink:href="/cuckooWeb/images/sprite.svg#over"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.cuckoo.co.kr/company/channel?searchCd=1" target="_blank">
                        <b>미디어</b>
                        <svg class="icon-18px">
                            <use xlink:href="/cuckooWeb/images/sprite.svg#over"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://recruit.cuckoo.co.kr/recruit/Main.do" target="_blank">
                        <b>채용</b>
                        <svg class="icon-18px">
                            <use xlink:href="/cuckooWeb/images/sprite.svg#over"/>
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="family-choice">
                <a class="family-select-btn">
                    <span class="txt">Family Site</span>
                    <svg class="icon-18px dropdown">
                        <use xlink:href="/cuckooWeb/images/sprite.svg#dropdown"/>
                    </svg>
                </a>
                <ul class="family-select-list">
                    <li><a href="https://www.cuckoo.co.kr/" target="_blank">쿠쿠몰</a></li>
                    <li><a href="https://welfare.cuckoo.co.kr/" target="_blank">쿠쿠사회복지재단</a></li>
                    <li><a href="https://recruit.cuckoo.co.kr/recruit/Main.do" target="_blank">채용</a></li>
                </ul>
            </div>       
        </div>

        <div class="fnb-bottom">
            <a class="footer-logo" href="/">
                <svg class="icon-logo">
                    <use xlink:href="/cuckooWeb/images/sprite.svg#cuckoo-logo"/>
                </svg>
            </a>
            <div class="footer-copyright">Copyrighyⓒ Cuckoo All Rights Reserved.</div>
        </div>
    </div>

</footer>
