

<!-- Sub Tab -->


<div class="sub-nav-area">

    <!--------------------------------------------------------------------------
    
        회사소개
    
    ---------------------------------------------------------------------------->

    <!-- 회사소개 서브탭 -->
    <% if (showTab === 'about-intro') { %>
        <nav class="sub-nav">
            <ul class="breadcrumb-list">
                <li class="current">회사 소개</li>
                <li>·</li>
                <li class="breadcrumb-link">
                    <a class="breadcrumb-btn">
                        소개
                        <svg class="icon-18px dropdown">
                            <use xlink:href="/cuckooWeb/images/sprite.svg#dropdown"/>
                        </svg>
                    </a>
                    <ul class="breadcrumb-dropdown">
                        <li><a href="/about/intro.html">소개</a></li>
                        <li><a href="/about/history.html">연혁</a></li>
                        <li><a href="/about/associate-kr.html">한국본사 소개</a></li>
                        <li><a href="/about/associate-overseas.html">해외 자회사 근황</a></li>
                    </ul>
                </li>
            </ul>
            <h2 class="sub-nav-tit tit-txt">회사 소개</h2>
        </nav>
    <% } %>
    <!-- 회사소개 서브탭 -->

    <!-- 연혁 서브탭 -->
    <% if (showTab === 'about-history') { %>
        <nav class="sub-nav">
            <ul class="breadcrumb-list">
                <li class="current">회사 소개</li>
                <li>·</li>
                <li class="breadcrumb-link">
                    <a class="breadcrumb-btn">
                        연혁
                        <svg class="icon-18px dropdown">
                            <use xlink:href="/cuckooWeb/images/sprite.svg#dropdown"/>
                        </svg>
                    </a>
                    <ul class="breadcrumb-dropdown">
                        <li><a href="/about/intro.html">소개</a></li>
                        <li><a href="/about/history.html">연혁</a></li>
                        <li><a href="/about/associate-kr.html">한국본사 소개</a></li>
                        <li><a href="/about/associate-overseas.html">해외 자회사 근황</a></li>
                    </ul>
                </li>
            </ul>
            <h2 class="sub-nav-tit tit-txt">연혁</h2>
        </nav>
    <% } %>
    <!-- 연혁 서브탭 -->
    

    <!-- 한국본사 소개 서브탭 -->
    <% if (showTab === 'about-associate-kr') { %>
        <nav class="sub-nav">
            <ul class="breadcrumb-list">
                <li class="current">회사 소개</li>
                <li>·</li>
                <li class="breadcrumb-link">
                    <a class="breadcrumb-btn">
                        한국본사 소개
                        <svg class="icon-18px dropdown">
                            <use xlink:href="/cuckooWeb/images/sprite.svg#dropdown"/>
                        </svg>
                    </a>
                    <ul class="breadcrumb-dropdown">
                        <li><a href="/about/intro.html">소개</a></li>
                        <li><a href="/about/history.html">연혁</a></li>
                        <li><a href="/about/associate-kr.html">한국본사 소개</a></li>
                        <li><a href="/about/associate-overseas.html">해외 자회사 근황</a></li>
                    </ul>
                </li>
            </ul>
            <h2 class="sub-nav-tit tit-txt">한국본사 소개</h2>
        </nav>
    <% } %>
    <!-- 한국본사 소개 서브탭 -->


    <!-- 해외 자회사 근황 서브탭 -->
    <% if (showTab === 'about-associate-overseas') { %>
        <nav class="sub-nav">
            <ul class="breadcrumb-list">
                <li class="current">회사 소개</li>
                <li>·</li>
                <li class="breadcrumb-link">
                    <a class="breadcrumb-btn">
                        해외 자회사 근황
                        <svg class="icon-18px dropdown">
                            <use xlink:href="/cuckooWeb/images/sprite.svg#dropdown"/>
                        </svg>
                    </a>
                    <ul class="breadcrumb-dropdown">
                        <li><a href="/about/intro.html">소개</a></li>
                        <li><a href="/about/history.html">연혁</a></li>
                        <li><a href="/about/associate-kr.html">한국본사 소개</a></li>
                        <li><a href="/about/associate-overseas.html">해외 자회사 근황</a></li>
                    </ul>
                </li>
            </ul>
            <h2 class="sub-nav-tit tit-txt">해외 자회사 근황</h2>
        </nav>
    <% } %>
    <!-- 해외 자회사 근황 서브탭 -->


    <!--------------------------------------------------------------------------
    
        투자정보
    
    ---------------------------------------------------------------------------->


    <!-- 주가·재무정보 서브탭 -->
    <% if (showTab === 'investor-finance') { %>
        <nav class="sub-nav">
            <ul class="breadcrumb-list">
                <li class="current">투자 정보</li>
                <li>·</li>
                <li class="breadcrumb-link">
                    <a class="breadcrumb-btn">
                        주가·재무정보
                        <svg class="icon-18px dropdown">
                            <use xlink:href="/cuckooWeb/images/sprite.svg#dropdown"/>
                        </svg>
                    </a>
                    <ul class="breadcrumb-dropdown">
                        <li><a heaf="/investor/finance-stock.html">주가·재무정보</a></li>
                        <li><a heaf="/investor/disc-drt.html">공시정보</a></li>
                        <li><a heaf="/investor/stockholder-info.html">주주정보</a></li>
                        <li><a heaf="/investor/archive-report.html">IR 자료실</a></li>
                    </ul>
                </li>
            </ul>
            <h2 class="sub-nav-tit tit-txt">주가·재무정보</h2>
        </nav>
    <% } %>
    <!-- 주가·재무정보 서브탭 -->


    <!-- 공시정보 서브탭 -->
    <% if (showTab === 'investor-disc') { %>
        <nav class="sub-nav">
            <ul class="breadcrumb-list">
                <li class="current">투자 정보</li>
                <li>·</li>
                <li class="breadcrumb-link">
                    <a class="breadcrumb-btn">
                        공시정보
                        <svg class="icon-18px dropdown">
                            <use xlink:href="/cuckooWeb/images/sprite.svg#dropdown"/>
                        </svg>
                    </a>
                    <ul class="breadcrumb-dropdown">
                        <li><a heaf="/investor/finance-stock.html">주가·재무정보</a></li>
                        <li><a heaf="/investor/disc-drt.html">공시정보</a></li>
                        <li><a heaf="/investor/stockholder-info.html">주주정보</a></li>
                        <li><a heaf="/investor/archive-report.html">IR 자료실</a></li>
                    </ul>
                </li>
            </ul>
            <h2 class="sub-nav-tit tit-txt">공시정보</h2>
        </nav>
    <% } %>
    <!-- 공시정보 서브탭 -->


    <!-- 주주정보 서브탭 -->
    <% if (showTab === 'investor-stockholder') { %>
        <nav class="sub-nav">
            <ul class="breadcrumb-list">
                <li class="current">투자 정보</li>
                <li>·</li>
                <li class="breadcrumb-link">
                    <a class="breadcrumb-btn">
                        주주정보
                        <svg class="icon-18px dropdown">
                            <use xlink:href="/cuckooWeb/images/sprite.svg#dropdown"/>
                        </svg>
                    </a>
                    <ul class="breadcrumb-dropdown">
                        <li><a heaf="/investor/finance-stock.html">주가·재무정보</a></li>
                        <li><a heaf="/investor/disc-drt.html">공시정보</a></li>
                        <li><a heaf="/investor/stockholder-info.html">주주정보</a></li>
                        <li><a heaf="/investor/archive-report.html">IR 자료실</a></li>
                    </ul>
                </li>
            </ul>
            <h2 class="sub-nav-tit tit-txt">주주정보</h2>
        </nav>
    <% } %>
    <!-- 주주정보 서브탭 -->

    <!-- IR 자료실 서브탭 -->
    <% if (showTab === 'investor-archive') { %>
        <nav class="sub-nav">
            <ul class="breadcrumb-list">
                <li class="current">투자 정보</li>
                <li>·</li>
                <li class="breadcrumb-link">
                    <a class="breadcrumb-btn">
                        IR 자료실
                        <svg class="icon-18px dropdown">
                            <use xlink:href="/cuckooWeb/images/sprite.svg#dropdown"/>
                        </svg>
                    </a>
                    <ul class="breadcrumb-dropdown">
                        <li><a heaf="/investor/finance-stock.html">주가·재무정보</a></li>
                        <li><a heaf="/investor/disc-drt.html">공시정보</a></li>
                        <li><a heaf="/investor/stockholder-info.html">주주정보</a></li>
                        <li><a heaf="/investor/archive-report.html">IR 자료실</a></li>
                    </ul>
                </li>
            </ul>
            <h2 class="sub-nav-tit tit-txt">IR 자료실</h2>
        </nav>
    <% } %>
    <!-- IR 자료실 서브탭 -->
    

    <!--------------------------------------------------------------------------
    
        지속가능경영
    
    ---------------------------------------------------------------------------->


    <!-- 지속가능경영 서브탭 -->
    <% if (showTab === 'esg-overview') { %>
        <nav class="sub-nav">
            <ul class="breadcrumb-list">
                <li class="current">지속가능경영</li>
                <li>·</li>
                <li class="breadcrumb-link">
                    <a class="breadcrumb-btn">
                        개요
                        <svg class="icon-18px dropdown">
                            <use xlink:href="/cuckooWeb/images/sprite.svg#dropdown"/>
                        </svg>
                    </a>
                    <ul class="breadcrumb-dropdown">
                        <li><a href="/esg/overview.html">개요</a></li>
                        <li><a href="/esg/envi-mgmt.html">환경</a></li>
                        <li><a href="/esg/social-safe.html">사회</a></li>
                        <li><a href="/esg/gov-dir.html">지배구조</a></li>
                    </ul>
                </li>
            </ul>
            <h2 class="sub-nav-tit tit-txt">지속가능경영</h2>
        </nav>
    <% } %>
    <!-- 지속가능경영 서브탭 -->


    <!-- 환경 서브탭 -->
    <% if (showTab === 'esg-environment') { %>
        <nav class="sub-nav">
            <ul class="breadcrumb-list">
                <li class="current">지속가능경영</li>
                <li>·</li>
                <li class="breadcrumb-link">
                    <a class="breadcrumb-btn">
                        환경
                        <svg class="icon-18px dropdown">
                            <use xlink:href="/cuckooWeb/images/sprite.svg#dropdown"/>
                        </svg>
                    </a>
                    <ul class="breadcrumb-dropdown">
                        <li><a href="/esg/overview.html">개요</a></li>
                        <li><a href="/esg/envi-mgmt.html">환경</a></li>
                        <li><a href="/esg/social-safe.html">사회</a></li>
                        <li><a href="/esg/gov-dir.html">지배구조</a></li>
                    </ul>
                </li>
            </ul>
            <h2 class="sub-nav-tit tit-txt">환경</h2>
        </nav>
    <% } %>
    <!-- 환경 서브탭 -->

    <!-- 사회 서브탭 -->
    <% if (showTab === 'esg-social') { %>
        <nav class="sub-nav">
            <ul class="breadcrumb-list">
                <li class="current">지속가능경영</li>
                <li>·</li>
                <li class="breadcrumb-link">
                    <a class="breadcrumb-btn">
                        사회
                        <svg class="icon-18px dropdown">
                            <use xlink:href="/cuckooWeb/images/sprite.svg#dropdown"/>
                        </svg>
                    </a>
                    <ul class="breadcrumb-dropdown">
                        <li><a href="/esg/overview.html">개요</a></li>
                        <li><a href="/esg/envi-mgmt.html">환경</a></li>
                        <li><a href="/esg/social-safe.html">사회</a></li>
                        <li><a href="/esg/gov-dir.html">지배구조</a></li>
                    </ul>
                </li>
            </ul>
            <h2 class="sub-nav-tit tit-txt">사회</h2>
        </nav>
    <% } %>
    <!-- 사회 서브탭 -->

    <!-- 지배구조 서브탭 -->
    <% if (showTab === 'esg-governance') { %>
        <nav class="sub-nav">
            <ul class="breadcrumb-list">
                <li class="current">지속가능경영</li>
                <li>·</li>
                <li class="breadcrumb-link">
                    <a class="breadcrumb-btn">
                        지배구조
                        <svg class="icon-18px dropdown">
                            <use xlink:href="/cuckooWeb/images/sprite.svg#dropdown"/>
                        </svg>
                    </a>
                    <ul class="breadcrumb-dropdown">
                        <li><a href="/esg/overview.html">개요</a></li>
                        <li><a href="/esg/envi-mgmt.html">환경</a></li>
                        <li><a href="/esg/social-safe.html">사회</a></li>
                        <li><a href="/esg/gov-dir.html">지배구조</a></li>
                    </ul>
                </li>
            </ul>
            <h2 class="sub-nav-tit tit-txt">지배구조</h2>
        </nav>
    <% } %>
    <!-- 지배구조 서브탭 -->

    <!--------------------------------------------------------------------------
    
        윤리경영
    
    ---------------------------------------------------------------------------->


    <!-- 윤리경영체계 서브탭 -->
    <% if (showTab === 'ethic-system') { %>
        <nav class="sub-nav">
            <ul class="breadcrumb-list">
                <li class="current">윤리경영</li>
                <li>·</li>
                <li class="breadcrumb-link">
                    <a class="breadcrumb-btn">
                        윤리경영체계
                        <svg class="icon-18px dropdown">
                            <use xlink:href="/cuckooWeb/images/sprite.svg#dropdown"/>
                        </svg>
                    </a>
                    <ul class="breadcrumb-dropdown">
                        <li><a href="/ethic/system.html">윤리경영체계</a></li>
                        <li><a href="/ethic/activity.html">윤리경영활동</a></li>
                    </ul>
                </li>
            </ul>
            <h2 class="sub-nav-tit tit-txt">윤리경영</h2>
        </nav>
    <% } %>
    <!-- 윤리경영체계 서브탭 -->

    <!-- 윤리경영활동 서브탭 -->
    <% if (showTab === 'ethic-activity') { %>
        <nav class="sub-nav">
            <ul class="breadcrumb-list">
                <li class="current">윤리경영</li>
                <li>·</li>
                <li class="breadcrumb-link">
                    <a class="breadcrumb-btn">
                        윤리경영활동
                        <svg class="icon-18px dropdown">
                            <use xlink:href="/cuckooWeb/images/sprite.svg#dropdown"/>
                        </svg>
                    </a>
                    <ul class="breadcrumb-dropdown">
                        <li><a href="/ethic/system.html">윤리경영체계</a></li>
                        <li><a href="/ethic/activity.html">윤리경영활동</a></li>
                    </ul>
                </li>
            </ul>
            <h2 class="sub-nav-tit tit-txt">윤리경영</h2>
        </nav>
    <% } %>
    <!-- 윤리경영활동 서브탭 -->

</div>
